<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<p>Hi</p>
		<p>
			There is a new callback request from a number
			<br>
			<b><%=@phone_number%> </b>
			<br>
		</p>
	</body>
</html>