
<h3><b>Hi <%=@u_name%></b><br>
	Thanks for contacting us for FREE QUOTE. <br>
	We will get back to you shortly with all the required details.
	<br>
	<br>
	<br>
	Thanks and Regards<br>
	1300 EAGLE MOVERS.
</h3>