
<h3><b>New Feedback</b>
	<div class="container">
 <div class="row">
   <div class="col-sm-4">
     <h3>Name:</h3>
     <p><%=@u_name%></p>
   </div>
   <div class="col-sm-4">
     <h3>Email:</h3>
     <p><%=@email%></p>
   </div>
   
   <div class="col-sm-4">
     <h3>Subject:</h3>
     <p><%=@subject%></p>
   </div>
   <div class="col-sm-4">
     <h3>Message:</h3>
     <p><%=@msg%></p>
   </div>
  
 </div>
</div>
</h3>