<div class="site-main container" style="padding-bottom: 5%;">
	<a href="<%=home_book_online_path%>" class="theme_button color2">BOOK NOW</a>
	<a href="<%=new_request_quote_path%>" class="theme_button color2">QUICK QUOTE</a>
</div>