<section class="cs section_padding_top_100 section_padding_bottom_75 parallax page_testimonials columns_margin_bottom_30">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="framed-heading side-frame">
					<h2 class="section_header">
						Clients
						<br> say
					</h2>
				</div>
				<p class="leftmargin_50">
					Suspendisse quis scelerisque sapien. Proin pulvin porttitor metus vitae tincidunt. Pelle habitant morbi tristique senectus netus.
				</p>
			</div>
			<div class="col-lg-8">
				<div class="owl-carousel testimonials-carousel margin_0" data-responsive-lg="2" data-responsive-md="2" data-responsive-sm="2" data-responsive-xs="1" data-nav="true" data-nav-container=".testimonials-carousel-nav">
					<blockquote class="margin_0">
						Fusce lacinia, urna nec molestie congue, ante justo hendrerit risus, quis suscipit sapien leo et est. Fusce nec suscipit risus.

						<div class="item-meta">
							<h5 class="highlight2">Sue Spencer</h5>
							<p>Manager</p>
						</div>
					</blockquote>

					<blockquote class="margin_0">
						Sed vitae ex quis tellus consectet accumsan et non sem. Sed consectetur at lacus ac vehicula. Maecenas eleifend.

						<div class="item-meta">
							<h5 class="highlight2">Allen Peterson</h5>
							<p>Director</p>
						</div>
					</blockquote>

					<blockquote class="margin_0">
						Fusce lacinia, urna nec molestie congue, ante justo hendrerit risus, quis suscipit sapien leo et est. Fusce nec suscipit risus.

						<div class="item-meta">
							<h5 class="highlight2">Sue Spencer</h5>
							<p>Manager</p>
						</div>
					</blockquote>

					<blockquote class="margin_0">
						Sed vitae ex quis tellus consectet accumsan et non sem. Sed consectetur at lacus ac vehicula. Maecenas eleifend.

						<div class="item-meta">
							<h5 class="highlight2">Allen Peterson</h5>
							<p>Director</p>
						</div>
					</blockquote>

				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid testimonials-carousel-nav owl-nav"></div>
</section>