<%= form_for(@new_req) do |f| %>
	
	<div class="with_padding">

			<div class="form-group">
				<label for="quote-name" class="sr-only">Name
					<span class="required">*</span>
				</label>
				<div class="input-group">
					<i class="flaticon-avatar highlight"></i>
					<input type="text" aria-required="true" size="30" value="" name="request_quote[name]" id="quote-name" class="form-control" placeholder="Name" required>
				</div>
			</div>

			<div class="form-group">
				<label for="quote-email" class="sr-only">E-mail
					<span class="required">*</span>
				</label>
				<div class="input-group">
					<i class="flaticon-envelope highlight"></i>
					<input type="email" aria-required="true" size="30" value="" name="request_quote[email]" id="quote-email" class="form-control" placeholder="E-mail" required>
				</div>
			</div>

			<div class="form-group">
				<label for="quote-phone" class="sr-only">Phone
					<span class="required">*</span>
				</label>
				<div class="input-group">
					<i class="flaticon-phone-call highlight"></i>
					<input type="number" aria-required="true" size="30" value="" name="request_quote[phone_number]" id="quote-phone" class="form-control" placeholder="Phone" required>
				</div>
			</div>
			<div class="form-group">
				<label for="quote-name" class="sr-only">Date
					<span class="required">*</span>
				</label>
				<div class="input-group">
					<i class="fa fa-calendar" aria-hidden="true"></i>
					<input onfocus="(this.type='date')" aria-required="true" size="30" value="" name="request_quote[date_to_move]" id="quote-name" class="form-control" style="
				color: currentColor;
				" placeholder="Date to move" required>
				</div>
			</div>

			<div class="form-group">
				<label for="quote-name" class="sr-only">Move From
					<span class="required">*</span>
				</label>
				<div class="input-group">
					<i class="fa fa-truck"></i>
					<input type="text" aria-required="true" size="30" value="" name="request_quote[move_from]" id="quote-name" class="form-control" placeholder="move from" required>
				</div>
			</div>
			<div class="form-group">
				<label for="quote-name" class="sr-only">Move to
					<span class="required">*</span>
				</label>
				<div class="input-group">
					
					<i class="fa fa-truck" ></i>
					<input type="text" aria-required="true" size="30" value="" name="request_quote[move_to]" id="quote-name" class="form-control" placeholder="move to" required>
				</div>
			</div>



			<div class="form-group">
				<label for="quote-description" class="sr-only">Description
					<span class="required">*</span>
				</label>
				<div class="input-group">
					<i class="flaticon-edit highlight"></i>
					<textarea aria-required="true" rows="5" cols="45" name="request_quote[description]" id="quote-description" class="form-control" placeholder="Description" ></textarea>
				</div>
			</div>

			<div class="text-center topmargin_40">
				<button type="submit" onclick="save_quote_request()" id="quote_submit" name="quote_submit" class="theme_button color2">Send request</button>
				<img class="ajax-loader" src="http://www.melbournespeediemovers.com.au/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;"></p>
			<div class="wpcf7-response-output wpcf7-display-none"></div>
			</div>
		

	</div>
<%end%>
<script type="text/javascript">
	function save_quote_request() {
		// alert("wewhgyfg")
    	$.ajax({
                type: "POST",
                dataType: 'json',
                headers: {
    				'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
  				},
                url: '<%=request_quotes_path%>',
                data: $("#new_request_quote").serialize(),

                success: function(data) {
                	if (data["status_notify"]=="true"){
						$.notify("Thanks for contacting us. We will contact you shortly.", "success");                                    
						$("#new_request_quote").trigger('reset');
					}

                },
                error: function(err){
	                	$.notify("Something Went Wrong! Please Try Again");
							                                    
					                                     
                	
                }

                })

	}
	

</script>

