<section class="parallax intro-section3 section_padding_90 get_quote table_section table_section_md">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-5 bg_overlay cs to_animate" data-animation="fadeInLeftLong">
				<div class="framed-heading to_animate" data-animation="fadeInLeft" data-delay="600">
					<h2 class="section_header">
						Get a quote
					</h2>
				</div>
				<p class="to_animate" data-animation="fadeInLeft" data-delay="400">
					Cras id vulputate felis. Nunc egestas venenatis ipsum et gravid. Duis vehicula consequat diam sed iaculis. Etiam eget commod sem. Suspendisse neque mi, congue vel semper feugiat, sollici eu urna. In egestas egestas auctor. Phasellus ac tempor diam.
				</p>
				<p class="to_animate" data-animation="fadeInLeft" data-delay="350">
					Curabitur tortor leo, placerat non tincidunt sit amet, ullamcorper a justo. Vivamus enim ante, laoreet sed tristique sit amet, faucibus non nisi. Suspendisse facilisis metus tellus, sed auctor urna.
				</p>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-md-6 to_animate" data-animation="fadeInRight">
				<div class="with_big_padding transparent_bg ls">

					<form class="quote-form" method="post" action="./">
						<div class="form-group">
							<label for="quote-name" class="sr-only">Name
								<span class="required">*</span>
							</label>
							<div class="input-group">
								<i class="flaticon-avatar highlight"></i>
								<input type="text" aria-required="true" size="30" value="" name="quote-name" id="quote-name" class="form-control" placeholder="Name">
							</div>
						</div>

						<div class="form-group">
							<label for="quote-email" class="sr-only">E-mail
								<span class="required">*</span>
							</label>
							<div class="input-group">
								<i class="flaticon-envelope highlight"></i>
								<input type="text" aria-required="true" size="30" value="" name="quote-email" id="quote-email" class="form-control" placeholder="E-mail">
							</div>
						</div>

						<div class="form-group">
							<label for="quote-phone" class="sr-only">Phone
								<span class="required">*</span>
							</label>
							<div class="input-group">
								<i class="flaticon-phone-call highlight"></i>
								<input type="text" aria-required="true" size="30" value="" name="quote-phone" id="quote-phone" class="form-control" placeholder="Phone">
							</div>
						</div>

						<div class="form-group">
							<label for="quote-description" class="sr-only">Description
								<span class="required">*</span>
							</label>
							<div class="input-group">
								<i class="flaticon-edit highlight"></i>
								<textarea aria-required="true" rows="5" cols="45" name="quote-description" id="quote-description" class="form-control" placeholder="Description"></textarea>
							</div>
						</div>

						<div class="text-center topmargin_40">
							<button type="submit" id="quote_submit" name="quote_submit" class="theme_button color2">Send request</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</section>