<section class="ls section_padding_top_75 section_padding_bottom_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="framed-heading bottommargin_15">
								<h2 class="section_header">
									Our Clients
								</h2>
							</div>
							<p>
								Here is a list of some of our valued clients.
							</p>
						</div>
					</div>
					<div class="row topmargin_30">
						<!-- <div class="col-md-2 col-sm-4 col-xs-6 text-center to_animate" data-animation="pullUp">
							<a href="#" class="partner-link">
								<img src="/assets/client1.jpg" alt="" />

							</a>
						</div> -->
						<div class="col-md-2 col-sm-4 col-xs-6 text-center to_animate" data-animation="pullUp">
							<a href="#" class="partner-link">
								<img src="/assets/client1.jpg" alt="" />
							</a>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6 text-center to_animate" data-animation="pullUp">
							<a href="#" class="partner-link">
								<img src="/assets/client3.jpg" alt="" />

							</a>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6 text-center to_animate" data-animation="pullUp">
							<a href="#" class="partner-link">
								<img src="/assets/client4.jpg" alt="" />
							</a>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6 text-center to_animate" data-animation="pullUp">
							<a href="#" class="partner-link">
								<img src="/assets/client5.jpg" alt="" />
							</a>
						</div>
						<!-- <div class="col-md-2 col-sm-4 col-xs-6 text-center to_animate" data-animation="pullUp">
							<a href="#" class="partner-link">
								<img src="/assets/client5.jpg" alt="" />
							</a>
						</div> -->
					</div>
				</div>
			</section>