<div class="site-main container" style="padding-bottom: 5%;">
	<a href="<%=new_request_quote_path%>" class="theme_button color2">QUICK QUOTE</a>
	<a href="<%=home_pricing_path%>" class="theme_button color2">TRUCKS/PRICING</a>
</div>