<section class="ls section_padding_100 columns_margin_bottom_30 section_padding_bottom_75">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6 text-center">
				<div class="teaser counter-teaser media inline-block text-left">
					<div class="media-left media-middle">
						<div class="teaser_icon highlight2 size_big">
							<i class="flaticon-like"></i>
						</div>
					</div>
					<div class="media-body media-middle">
						<h3 class="counter" data-from="0" data-to="8042" data-speed="1800">0</h3>
						<p class="small-text">clients trust in us</p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 text-center">
				<div class="teaser counter-teaser media inline-block text-left">
					<div class="media-left media-middle">
						<div class="teaser_icon highlight2 size_big">
							<i class="flaticon-truck-1"></i>
						</div>
					</div>
					<div class="media-body media-middle">
						<h3 class="counter" data-from="0" data-to="10932" data-speed="1800">0</h3>
						<p class="small-text">Km for year</p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 text-center">
				<div class="teaser counter-teaser media inline-block text-left">
					<div class="media-left media-middle">
						<div class="teaser_icon highlight2 size_big">
							<i class="flaticon-trolley"></i>
						</div>
					</div>
					<div class="media-body media-middle">
						<h3 class="counter" data-from="0" data-to="5721" data-speed="1800">0</h3>
						<p class="small-text">Tons of goods</p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 text-center">
				<div class="teaser counter-teaser media inline-block text-left">
					<div class="media-left media-middle">
						<div class="teaser_icon highlight2 size_big">
							<i class="flaticon-percentage"></i>
						</div>
					</div>
					<div class="media-body media-middle">
						<h3 class="counter" data-from="0" data-to="689" data-speed="1800">0</h3>
						<p class="small-text">Held shares</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
