<div style="padding: 7%;" class="p_justify">

	<img src="/assets/logo_high_qual.png" style="width: 100%;padding-right: 9%; padding-left: 9%;border-bottom: 2px solid #868686;"/>

	<div style="text-align: center; padding-top: 4%;"><u><b> TERMS AND CONDITIONS</b></u></div><br/>

	<div>
		<b>
			<u> 
				Introduction.
			</u>
		</b>
	</div><br/>
	<div>
		These Terms & Conditions explain the rights, obligations and responsibilities of all parties to this Agreement. Where We use the word ‘You’ or ‘Your’ it means the Customer: ‘We’, ‘Us’ or ‘Our’ means the Remover. These terms and conditions can be varied or amended subject to prior written agreement. In Clauses 8, 9, 10 and 11; We limit or exclude Our liability for any loss and damage. We recommend You to arrange the insurance to cover Your goods or premises. We are able to arrange insurance for Your benefit upon request. This insurance will   be   separate   from    this    contract   and   subject   to   the   terms    and    conditions    of    the policy.
	</div>
	<br/>
	<div>
		<b> 1. Our Quotation.</b><br/>
		<div>
			1.1 Our quotation, unless otherwise stated, does not include insurance, customs duties, port charges including (but not limited to) demurrage, inspections, or any fees, or taxes payable to government bodies or  agencies.
		</div>
		<div>
			1.2 Our Quotation is valid for seven days from the date of issue. Unless already included in Our Quotation, reasonable additional charges will apply in the following circumstances:
		</div>
		<div>
			1.2.1 If the work does not commence within seven days of acceptance.
		</div>
		<div>
			1.2.2 Our costs change because of currency fluctuations, changes in taxation, freight or fuel beyond our control.
		</div>
		<div>
			1.2.3 There are delays or events outside Our reasonable control which increase or extend the resources or time allowed to complete the agreed work.
		</div>
		<div>
			1.2.4 We agree in writing to increase Our limit of liability set out in Clause 8.1 prior to the work commencing.
		</div>
		<div>
			1.3 You    agree    to    pay    any    reasonable    charges    arising    from    the    above    circumstances.
		</div>
	</div>
	<br/>
	<div>
		<b> 2 Work not included in the quotation.</b>
		<br/>
		<div>
			2.1 Unless agreed by us in writing, We will not:
		</div>
		<div>
			2.1.1 Disconnect, re-connect, dismantle or re-assemble appliances, fixtures, fittings or equipment.
		</div>
		<div>
			2.1.2 Take up or lay fitted floor coverings.
		</div>
		<div>
			2.1.3 Move items from a loft, unless properly lit and floored and safe access is provided.
		</div>
		<div>
			2.1.4 Dismantle or assemble garden furniture and equipment including, but not limited to: sheds, greenhouses, garden shelters, outdoor play equipment, and satellite dishes, or move paving slabs, planters and the like.
		</div>
		<div>
			2.2 Our staff are not authorized or qualified to carry out such work. We recommend that a properly qualified person is separately employed by You to carry out these services.
		</div>
	</div>
	<div>
		<b> 3 Your responsibility.</b>
		<div>
			3.1 It will be Your responsibility to:
		</div>
		<div>
			3.1.1 Arrange adequate insurance cover for the goods submitted 
			for removal transit, against all insurable risks as Our liability is limited under clauses 8.1 and 8.2.
		</div>
		<div>
			3.1.2 Obtain at Your own expense, all documents, permits, permissions, licenses, customs documents necessary for the removal to be completed.
		</div>
		<div>
			3.1.3 Be present or represented throughout the collection and delivery of the removal.
		</div>
		<div>
			3.1.4 Where We provide You with inventories, receipts, waybills, job sheets or other relevant documents You will ensure that they are signed by You or Your authorised representative as confirmation of collection or delivery of the Goods.
		</div>
		<div>
			3.1.5 Take all reasonable steps to ensure that nothing that should be removed is left behind and nothing is taken away in error. 3.1.6 Arrange proper protection for goods left in unoccupied or unattended premises, or where other people such as (but not limited to) tenants or workmen are, or will be present.
		</div>
		<div>
			3.1.7 Prepare adequately and stabilize all appliances or electronic equipment prior to their removal.
		</div>
		<div>
			3.1.8 Empty, properly defrost and clean refrigerators and deep freezers. We are not responsible for the contents.
		</div>
		<div>
			3.1.9 Ensure that all domestic and garden appliances, including but not limited to washing machines, dish washers, hose pipes, petrol lawn mowers are clean and dry and have no residual fluid left in them.
		</div>
		<div>
			3.1.10 Provide Us with a correct and up to date contact address and telephone number during removal transit of goods.
		</div>
		<div>
			3.1.11 It is the customer’s responsibility to ensure that items will fit in the new premises (eg: size of sofa and size of aperture). Our removalists will not be insured to remove doors or windows in such cases and will be
			forced to drop the items outside the premises. It is the customer’s responsibility to organize a specialist if needed.
		</div>
		<div>
			3.2 It is the customer’s responsibility to inform us about the awkward access. Awkward access can include, no vehicle access, no parking available in close proximity to the property and cramped stair and hallway conditions. We reserve the right to add extra costs due to unforeseen circumstances (e.g. waiting for keys or gaining entry, incorrect addresses, etc.).
		</div>
		<div>
			3.2.1 Providing parking is the responsibility of the customer, you must provide a permit from the local council if this is not possible, please be honest and say where the closest legal parking is available eg: 50 yards, 100 yards etc… this may cost a little more but it is much better for you if we know in advance, if parking is legal try to reserve a space for the van outside before it arrives or call the local council and get a suspension or permit where necessary) if there is no parking pre -arranged any parking fines received will be the responsibility of the customer and must be paid by the customer on completion, however we will not park illegally and the driver may have to leave if legal parking is not provided.
		</div>
		<div>
			3.3 Other than by reason of Our negligence or breach of contract, We will not be liable for any loss or damage, costs or additional charges that may arise from failure to discharge these responsibilities.
		</div>
	</div>
	<div>
		<b> 4 Goods not to be submitted for removal.</b><br/>
		<div>
			4.1 Unless previously agreed in writing by a director or other authorized company representative, the following items must not be submitted for removal will under no circumstances be moved by Us. The items listed under.
		</div>
		<div>
			4.1.1 Below may present risks to health and safety and of fire. Items listed under 4.1.2 to 4.1.7 below carry other risks and You should make Your own arrangements for their transport.
		</div>
		<div>
			4.2.1 Prohibited or stolen goods, drugs, pornographic material, potentially dangerous, damaging or explosive items, including gas bottles, aerosols, paints, firearms and ammunition.
		</div>
		<div>
			4.2.2 Jewellery, watches, trinkets, precious stones or metals, money, deeds, securities, stamps, coins, or goods or collections of any similar kind.
		</div>
		<div>
			4.2.3 Goods likely to encourage vermin or other pests or to cause infestation or contamination.
		</div>
		<div>
			4.2.4 We shall notify You as soon as practicable if any of the Goods, are in Our opinion hazardous to health, dirty or unhygienic or likely to attract vermin or pests and under what conditions We would be prepared to accept such Goods or whether We refuse to accept them. Should We refuse to accept the goods We will have no liability to You.
		</div>
		<div>
			4.2.5 Perishable items and/or those requiring a controlled environment.
		</div>
		<div>
			4.2.6 Any animals, birds, fish, reptiles or plants.
		</div>
		<div>
			4.2.7 Goods which require special license or government permission for export or import.
		</div>
	</div>
	<div>
		<b> 5. Ownership of the goods.</b>
		<div>
			5.1 By entering into this Agreement, You guarantee that:
		</div>
		<div>
			5.1.1 The goods to be removed are Your own property, or the goods are Your property free of any legal charge; or
		</div>
		<div>
			5.1.2 You have the full authority of the owner or anyone having a legal interest in them to enter into this Agreement and You have made the owner fully aware of these terms and conditions prior to entering into this Agreement and that they have agreed to them.
		</div>
	</div>
	<div>
		<b> 6. Charges if You postpone or cancel the removal.</b>
		<div>
			6.1 If You postpone or cancel this Agreement, We reserve the right to charge You a reasonable postponement or cancellation fee according to how much notice is given as set out below “Working days” refer to the normal working week of Monday to Friday and excludes weekends and Public Holidays.
		</div>
		<div>
			6.1.1 More than 7 working days before the removal was due to start: No charge.
		</div>
		<div>
			6.1.2 Between 2 and 6 working days inclusive before the removal was due to start: not more than 50% of the removal charge.
		</div>
		<div>
			6.1.3 Less than 2 working days before the removal was due to start: not more than 75% of the removal charge.
		</div>
		<div>
			6.1.4 On the day the work starts or at any time after the work commences up to 100% of Our charges.
		</div>
	</div>
	<div>
		<b> 7. Payment Requirements.</b>
		We accept only cash. Payments must be made at the completion of the job. It is Your responsibility to ensure that You have enough cash to pay the driver at the completion of the job. You may not withhold any part of the agreed price. In such a situation, the payment requested will also have an estimate of time that may take
		to unload the goods. If payment is not made in full in this situation, the unloading of goods will not start until such time the full payment is made. If any dispute arises on the payment amount and cannot be resolved at that time, We reserve the right to refuse to unload the goods until the time full payment is made
	</div>
	<div>
		<b> 8. Our liability for loss or damage.</b>
		<div>
			Incase of Invoice payments, if payments are not made by the due date we have the right to charge penalty interest rate of 13% or More from due date.
		</div>
		<div>
			8.1 We do not know the value of Your goods therefore We limit Our liability to a fixed limit per item. The amount of liability We accept under this agreement is reflected in Our charges for the work. If You wish Us to increase
			Our limit of liability per item You agree to pay a higher price for the work as stated in Condition 1. (Our
			Quotation).
		</div>
		<div>
			8.2 Unless otherwise agreed in writing if We are negligent or in breach of contract We will pay You up to $40
			for each item which is lost or damaged as a direct result of any negligence or breach of contract on Our part
			to cover the cost of repairing or replacing that item.
		</div>
		<div>
			8.3 If the Goods sustain damage by reason of defective or inadequate packing or unpacking, We will not be
			liable for that.
		</div>
		<div>
			8.4 Certain Goods (including, but not limited to , electrical and mechanical appliances, computer equipment,
			scientific instruments, certain musical instruments, and furniture made of pressed wood) are inherently
			susceptible to suffer damage or disorder no matter how carefully they are handled. We will not be liable in
			respect of these items, in any way.
		</div>
		<div>
			8.5 Where You or a person with Your agreement participates in the move, or We do it all ourselves, We are
			not liable for any damages done to Your goods. You are advised to take Your own insurance for the transfer
			of goods.
		</div>
	</div>
	<div>
		<b> 9. Damage to premises or property other than goods.</b><br/>
		<div>
			9.1 Because third party contractors or others are frequently present at the time of collection or delivery it is not
			always possible to establish who was responsible for loss or damage. therefore Our liability is limited as follows:
		</div>
		<div>
			9.1.1 If We cause loss or damage to premises or property other than goods for removal as a result of our
			negligence or breach of contract, our liability shall be limited to making good the damaged area only.
		</div>
		<div>
			9.1.2 If We cause damage as a result of moving goods under Your express instruction, against our advice,
			and where moving the goods in the manner instructed is likely to cause damage, We shall not be liable.
		</div>
	</div>
	<div>
		<b> 10. Exclusions of liability.</b></br>
		<div>
			10.1 We shall not be liable for loss or damage caused by fire or explosion. It is Your responsibility to insure
			Your Goods against fire or explosion. If You ask Us in writing to arrange fire insurance cover for You We will,
			provided You declare the full replacement value of Your Goods and pay the premium in advance.
		</div>
		<div>
			10.2 We shall not be liable for delays or failures to provide the services under this Agreement as a result of
			war, invasion, acts of foreign enemies, hostilities (whether war is declared or not), civil war, terrorism, rebellion
			and/or military coup, Act of God, adverse weather, third party industrial action, re-scheduled sailing, departure
			or arrival times, port congestion, or other such events outside our reasonable control.
		</div>
		<div>
		10.2.1. We will do our best to arrive within the time scale stated, however arrival times are estimated.
		</div>
		<div>
			10.2.2. Delays to pick-up/delivery times are sometimes unavoidable (due to traffic accidents, weather etc).
		</div>
		<div>
			10.2.3. We do not accept any responsibility for any customer loses due to unforeseen or out of our control
			delivery/pick-up delays.
		</div>
		<div>
			10.3 Other than as a result of Our negligence or breach of contract We will not be liable for any loss, damage
			or failure to produce the goods as a result of:
		</div>
		<div>
			10.3.1 Normal wear and tear, natural or gradual deterioration, leakage or evaporation or from perishable or
			unstable goods. This includes goods left within furniture or appliances.
		</div>
		<div>
			10.3.2 Moth or vermin or similar infestation.
		</div>
		<div>
			10.3.3 Cleaning, repairing or restoring unless We arranged for there work to be carried out.
		</div>
		<div>
			10.3.4 Changes caused by atmospheric conditions such as dampness, mould, mildew, rusting, tarnishing,
			corrosion, or gradual deterioration unless directly linked to ingress of water.
		</div>
		<div>
			OR
		</div>
		<div>
			10.3.5 For any goods in wardrobes, drawers or appliances,
		</div>
		<div>
			10.3.6 For electrical or mechanical derangement to any 
			appliance, instrument, clock, computer or other
			equipment unless there is evidence of related external damage.
		</div>
		<div>
			10.3.7 For any goods which have a pre-existing defect or are inherently defective.
		</div>
		<div>
			10.3.8 For perishable items and/or those requiring a controlled environment.
		</div>
		<div>
			10.3.9 For items referred to in Clause 4.
		</div>
		<div>
			10.4 No employee of ours shall be separately liable to You for any loss, damage, mis-delivery, errors or
			omissions under the terms of this Agreement.
		</div>
		<div>
			10.5 Where goods are handed over to You or Your authorised agent Our liability will cease upon handing over
			the goods to You or Your authorised representative (see Clause 11.1 below).
		</div>
		<div>
			10.6 We will not be liable for any loss or damage caused by Us or Our employees or agents in circumstances
			where: (a) there is no breach of this Agreement by Us or by any of Our employees or agents
			(b) such loss or damage is not a reasonably foreseeable result of any such breach.
		</div>
	</div><br/>
	<div>
		<b> 11. Time limit for claims.</b><br/>
		<div>
			11.1 For goods which We deliver, You must advise us in writing of any loss and damage within 24hrs of delivery
			by Us. We may agree to extend this time limit upon receipt of Your written request provided such
			request is received within seven (7) days of delivery. Consent to such a request will not be unreasonably
			withheld.
		</div>
	</div><br/>
	<div>
		<b>12. Delays in transit.</b><br/>
		<div>
			12.1 Other than by reason of Our negligence or breach of contract, We will not be liable for delays in transit.
		</div>
		<div>
			12.2 If through no fault of ours We are unable to deliver Your goods, We will take them into storage. The
			Agreement will then be fulfilled and any additional service(s), including storage and delivery, will be at Your
			expense.
		</div>
	</div><br/>
	<div>
		<b>13. Our Right to Hold the Goods (lien).</b><br/>
		“Lien” is the legal right of the remover to hold goods until the customer has paid all outstanding charges. We
		shall have a right to withhold and ultimately dispose of some or all of the goods if You fail to pay the charges
		and any other payments due under this or any other Agreement. (See also Clause 22). These include any
		charges that We have paid out on Your behalf. While We hold the goods You will be liable to pay all storage
		charges and other costs (including legal costs) reasonably incurred by Us in recovering Our charges and
		applying Our right of lien. These terms and conditions shall continue to apply.
	</div><br/>
	<div>
		<b>14. Our right to sub-contract the work.</b><br/>
		<div>
			14.1 We reserve the right to sub-contract some or all of the work.
		</div>
		<div>
			14.2 If We sub-contract, then these conditions will still apply.
		</div>
	</div><br/>
	<div>
		<b>15. Route and method.</b><br/>
		<div>
			15.1 We have the right to choose the method and route by which to carry out the work.
		</div>
		<div>
			15.2 Unless it has been specifically agreed otherwise in writing in our Quotation, other space/volume/capacity
			on Our vehicles and/or the container may be utilised for consignments of other customers.
		</div>
	</div><br/>
	<div>
		<b> 16. Our right to Sell or dispose of the Goods.</b><br/>
		If payment of Our charges relating to Your goods is in arrears, and on giving You three months’ notice, We are
		entitled to require You to remove Your goods from Our custody and pay all money due to Us. If You fail to pay
		all outstanding amounts due to Us, We may sell or dispose of some or all of the goods without further notice.
		The cost of the sale or disposal will be charged to You. The net proceeds will be credited to Your account and
		any eventual surplus will be paid to You without interest. If the full amount due is not received, We may seek
		to recover the balance from You.
	</div><br/>
	<div>
		<b> 17. Toll Charges.</b><br/>
		There will be an extra charge when passing through the Tullamarine Citylink/ Monash link/ Eastlink zones and
		the customer will be charged accordingly (Unless otherwise stated).
	</div><br/>
	<div>
		<b> 18. Staff Abuse.</b><br/>
		Verbal or threatening behavior will not be tolerated. If the driver is forced to leave the job because of verbal or
		any other abuse from the customer; the customer will still be liable to pay in full.
	</div><br/>
	<div>
		<b>	19. Termination.</b><br/>
		If payments are up to date, We will not end this contract except by giving You three months’ notice in writing.
		If You wish to terminate Your storage contract, You must give us at least 10 working days’ notice (working
		days are defined in Clause 6 above). If We can release the goods earlier, We will do so, provided that Your
		account is paid up to date. Charges for storage are payable to the date when the notice should have taken
		effect.
	</div><br/>
</div>