<%=render partial: "free_quote"%>
<style type="text/css">
	.site-content h2 {
    border-bottom: 1px dashed #212121;
    color: #484848;
    font-size: 30px;
    margin: 23px 0;
    padding-bottom: 16px;
}

post-9 img {
    border: 1px dashed #fafafa;
    float: left;
    margin-right: 30px;
    padding: 5px;
    position: relative;
}
</style>
<script type="text/javascript">
	document.getElementById("home_page_about_us").className = "active";
	document.getElementById("home_page_link").className = "";
</script>
<section class="ls section_padding_top_100 section_padding_bottom_75">
	<div class="container" style="padding-top: 70px;padding-bottom: 35px;">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="framed-heading bottommargin_15">
					<h2 class="section_header">
						About Us
					</h2>
				</div>
				<p>
				</p>
			</div>
		</div>
	</div>
</section>
<div id="main" class="site-main container content_font_color" >
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
<article id="post-9" class="post-9 page type-page status-publish hentry">
	<div class="entry-content">
		<p>
		<div class="col-md-5 col-sm-12">
			<div  class="col-md-12 col-sm-12">
				<img src="/assets/ABOUT US.jpg" alt="Budget Movers in Melbourne" style="float: left; width: 100%;" />
			</div>
			<div class="col-md-12 col-sm-12 bottom_button_partial">
				<%=render partial:"quotes_and_pricing_buttons"%>
			</div>
		</div>
		<div class="col-md-7 col-sm-12 p_justify">
		<b>1300 EAGLE MOVERS is your one-stop reliable packers and movers partner in shifting anything and everything…</b>
		<p>
			Since inception, <b>1300 EAGLE MOVERS </b>have evolved itself into a dynamic, robust and a forward looking <b>Melbourne removals </b>company across time. We have expertise in packing and moving your invaluable belongings. Be it your households, office goods or vehicles, we offer complete solutions for packing and moving services. We are highly dedicated to offer you with the completely enhanced packing and moving services in order to make your relocation experience completely hassle free.
		</p>
		<b>
			Committed to Excellence
		</b>
		<p>
			We are highly committed to excellence in providing the best possible relocation services which is our core customer centric ethical principle. <b>1300 EAGLE MOVERS</b>, one of the <b>Melbourne best movers</b> understand that safety and care of your valuable belongings is your first concern, and therefore, this important factor is strongly considered by our team while moving your goods to the new destination
		</p>
		<b>
			Professional Experts
		</b>
		<p>
			At Eagle Movers, we are a team of highly experienced packing and moving professionals who are well versed with the knowledge of converting the most hassle and tiresome task of shifting into an easier one.
		</p>
		<b>We Make it Faster</b>
		<p>We understand the value of your time and therefore, assure punctual and smooth delivery of goods to your destination.
		</p>
		<b>
			Secure and Safe Move
		</b>
		<p>
			Security is our major concern and hence, we aim towards meeting every expectation of our customers by moving their items safely without any risk of breakage or distortion.
		</p>
		<b>Affordable Charges</b>
		<p>
			Be it packing and moving of household goods, commercial goods, automobiles, office stationery etc. we provide best of <b>Melbourne city removals</b> services at much affordable rates while taking care in the process of packing, loading, moving, unloading, unpacking and placing them.
		</p>
		<b>Why Choose Us?</b>
		<p>
			<ul style="padding-left: 45px;">
				<li>
					Quick and smart packing and moving services
				</li>
				<li>
					Assured and guaranteed result
				</li>
				<li>
					Round the clock customer support services
				</li>
				<li>
					Usage of advanced and top notch quality packing and moving material
				</li>
				<li>
					We have well trained and experienced staff for packing and moving
				</li>
			</ul>
		</p>
	</div><!-- .entry-content -->

	<footer class="entry-meta">
    </footer><!-- .entry-meta -->
</article><!-- #post -->

				
<div id="comments" class="comments-area">
</div><!-- #comments -->			
		</div><!-- #content -->
    </div><!-- #primary -->
</div><!-- #main -->
