<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.js"></script>
<script src="/javascripts/free-trade/bootstrap.js"></script>
<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
input.failed_validation_error{
	border-color: darkred;
}
select.failed_validation_error{
	border-color: darkred;
}
label.failed_validation_error{
	font-size: 64%;
	float: right;
	color: darkred;
}
p > label.failed_validation_error{
	display: none !important;
}
</style>
<%=render partial: "free_quote"%>
<section class="ls section_padding_top_100 section_padding_bottom_75 columns_margin_bottom_30">
	<div class="container" style="padding-top: 60px;line-height: 25px;">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="framed-heading">
					<h2 class="section_header" style="color: #273754;">
						BOOK ONLINE
					</h2>
				</div>
				<p>
					Please fill out the following information and press the SUBMIT button.
				</p>
				<div class="framed-heading">
					<h5 class="section_header" style="font-size:30px ; color: #273754;">
						Details
					</h5>
				</div>


				<%= form_for @book_online, :html => {class: 'quote-form row topmargin_40', id:"book_online"} do |f| %>


					<div class="col-sm-6">


						<div class="bottommargin_10">
							<label for="quote-first-name" class="sr-only" >First Name
								<span class="required">*</span>
							</label>
							<div class="input-group">
								<i class="flaticon-avatar highlight"></i>
								<input type="text" aria-required="true" size="30" value="" name="book_online_detail[first_name]" id="quote-first-name" class="required form-control" placeholder="First Name">
							</div>
						</div>

						<div class="bottommargin_10">
							<label for="quote-last-name" class="sr-only">Last Name
								<span class="required">*</span>
							</label>
							<div class="input-group">
								<i class="flaticon-avatar highlight"></i>
								<input type="text" aria-required="true" size="30" value="" name="book_online_detail[last_name]"  id="quote-last-name" class="form-control" placeholder="Last Name">
							</div>
						</div>

						<div class="bottommargin_10">
							<label for="quote-email" class="sr-only">E-mail
								<span class="required">*</span>
							</label>
							<div class="input-group">
								<i class="flaticon-envelope highlight"></i>
								<input type="text" aria-required="true" size="30" value="" name="book_online_detail[email]"  id="quote-email" class="form-control" placeholder="E-mail">
							</div>
						</div>

						<div class="bottommargin_10">
							<label for="quote-home-phone" class="sr-only">Home phone</label>
							<div class="input-group">
								<i class="flaticon-phone-call highlight"></i>
								<input type="number" size="30" value="" name="book_online_detail[home_phone_number]"  id="quote-home-phone" class="form-control" placeholder="Home phone">
							</div>
						</div>

						<div class="bottommargin_10">
							<label for="quote-mobile-phone2" class="sr-only">Mobile phone</label>
							<div class="input-group">
								<i class="flaticon-phone-call highlight"></i>
								<input type="number" size="30" value="" name="book_online_detail[mobile_phone_number]"  id="quote-mobile-phone2" class="form-control" placeholder="Mobile phone">
							</div>
						</div>

						<div class="bottommargin_10">
							<label for="quote-sender-place" class="sr-only">Pickup</label>
							<div class="input-group">
								<i class="flaticon-truck highlight"></i>
								<input type="text" size="30" value="" name="book_online_detail[move_from]" id="quote-sender-place" class="form-control" placeholder="Pickup Address">
							</div>
						</div>

						<div class="bottommargin_10">
							<label for="quote-receiver-place" class="sr-only">Drop</label>
							<div class="input-group">
								<i class="flaticon-truck highlight"></i>
								<input type="text" size="30" value="" name="book_online_detail[move_to]" id="quote-receiver-place" class="form-control" placeholder="Drop-off Address">
							</div>
						</div>


					</div>

					<div class="col-sm-6">

						<div class="bottommargin_10">
							<label for="quote-town" class="sr-only">Date to move</label>
							<div class="input-group">
								<i class="fa fa-calendar" aria-hidden="true"></i>
								<input size="30" value="" onfocus="(this.type='date')" name="book_online_detail[date_to_move]" id="quote-town" class="form-control" placeholder="Date to move" style="color: currentColor;">

							</div>
						</div>

						<div class="bottommargin_10">
							<label for="quote-town" class="sr-only">Town / City</label>
							<div class="input-group">
								<i class="flaticon-house highlight"></i>
								<input type="text" size="30" value="" name="book_online_detail[city]" id="quote-city" class="form-control" placeholder="Town / City">
							</div>
						</div>


						<div class="bottommargin_10">
							<label for="quote-country" class="sr-only">State / Country</label>
							<div class="input-group">
								<i class="flaticon-placeholder highlight"></i>
								<input type="text" size="30" value="" name="book_online_detail[country]"
								id="quote-country" class="form-control" placeholder="State / Country">
							</div>
						</div>

						<div class="bottommargin_10">
							<label for="quote-zipcode" class="sr-only">Postal / Zipcode</label>
							<div class="input-group">
								<i class="flaticon-edit highlight"></i>
								<input type="text" size="30" value="" name="book_online_detail[zipcode]" id="quote-zipcode" class="form-control" placeholder="Postal / Zipcode">
							</div>
						</div>

						<div class="bottommargin_10">
							<label for="quote-cargo" class="sr-only">Preffered Time Slot</label>
							<div class="input-group select-group">
								<i class="fa fa-calendar-times-o" aria-hidden="true"></i>
								<select aria-required="true" id="quote-time_slot" name="book_online_detail[time_slot]" class="choice form-control">
									<option value="" selected data-default>Preffered Time Slot</option>
									<option value="8:00 AM">8:00 AM</option>
									<option value="12 NOON">12 NOON</option>
									<option value="03:00 PM">03:00 PM</option>
								</select>
								<i class="rt-icon2-chevron-thin-down"></i>
							</div>
						</div>

						<div class="bottommargin_10">
							<label for="quote-cargo" class="sr-only">Number of Bedrooms</label>
							<div class="input-group select-group">
								<i class="fa fa-home" aria-hidden="true"></i>
								<select aria-required="true" id="quote-bedrooms" name="book_online_detail[number_of_bedrooms]" class="choice form-control" >
									<option value="" selected data-default>Number of Bedrooms</option>
									<option value="1-2 BEDROOMS">1-2 BEDROOMS</option>
									<option value="2-3 BEDROOMS">2-3 BEDROOMS</option>
									<option value="3-4 BEDROOMS">3-4 BEDROOMS</option>
									<option value="4-5 BEDROOMS">4-5 BEDROOMS</option>
								</select>
								<i class="rt-icon2-chevron-thin-down"></i>
							</div>
						</div>

						<div class="bottommargin_10">
							<label for="quote-cargo" class="sr-only">Size of Truck</label>
							<div class="input-group select-group">
								<i class="fa fa-truck" aria-hidden="true"></i>
								<select aria-required="true" id="quote-truck" name="book_online_detail[size_of_truck]" class="choice form-control" >
									<option value="" selected data-default>Size of Truck</option>
									<option value="4.5T/2MEN($80/hr)">4.5T/2MEN($80/hr)</option>
									<option value="6T/2MEN($90/hr)">6T/2MEN($90/hr)</option>
									<option value="8T/2MEN($100/hr)">8T/2MEN($100/hr)</option>
									<option value="10T/2MEN($110/hr)">10T/2MEN($110/hr)</option>
									<option value="12T/2MEN($120/hr)">12T/2MEN($120/hr)</option>
								</select>
								<i class="rt-icon2-chevron-thin-down"></i>
							</div>
						</div>

					</div>

					<div class="col-sm-12 text-center">
						<div class="framed-heading">
							<h2 class="section_header"style="font-size: 35px; color: #273754;">
								Terms and Conditions
							</h2>
						</div>
						<p style="text-align:left">
							* Minimum of 2hrs payment required on Online Booking.<br>
							* $10 charged separately for each flight of stairs.<br>
							* $100 charged separately for Upright Piano, if any(ground floor to ground floor).<br>
							* No cancellation fee applicable, if informed 24hours prior to booked date.<br>
							<input id="terms_and_condition" type="checkbox" name="book_online_detail[terms_and_condition]" >
							<span style="padding-left: 20px;">
							I have read and Agree to the
							<a id="myBtn" style="cursor: pointer;">
							Terms & Conditions.</a>
							</span>
							<br/>
							<label id="t_c_error" style="font-size: 64%;color: darkred;display:none">
								Please accept terms and conditions.
							</label>
							<div id="myModal" class="modal" style="    z-index: 9999;">
							  <div class="modal-content">
							    <span onclick="close_modal()" class="close">&times;</span>
							    <p>
							    	<%=render partial: "terms_and_conditions"%>
							    </p>
							  </div>

							</div>
						</p>
					</div>


					<div class="col-sm-12 text-center">
						<button onclick="submit_form()" type="submit" id="quote_submit" name="quote_submit" class="theme_button color2 topmargin_10">Submit and Pay</button>
					</div>
				<%end%>

			</div>
		</div>
	</div>
</section>
<script type="text/javascript">


	function close_modal()
	{
		modal.style.display = "none";
	}




	function submit_form()
	{

	}
	$("#book_online").validate({
			  errorClass: "failed_validation_error",
              rules: {
                // RK: NOTE: strange bug requires that remote is last to be checked
                "book_online_detail[first_name]": {
                  required: true,
                },
                // "book_online_detail[last_name]" :{
                // 	required: true,
                // },
				"book_online_detail[email]" :{
					required: true,
					email: true
				},
				// "book_online_detail[home_phone_number]" :{
				// 	required: true,
				// },
				"book_online_detail[mobile_phone_number]" :{
					required: true,
				},
				// "book_online_detail[move_from]" :{
				// 	required: true,
				// },
				// "book_online_detail[move_to]" :{
				// 	required: true,
				// },
				"book_online_detail[date_to_move]" :{
					required: true,
				},
				// "book_online_detail[city]" :{
				// 	required: true,
				// },
				// "book_online_detail[country]" :{
				// 	required: true,
				// },
				// "book_online_detail[zipcode]" :{
				// 	required: true,
				// },
				// "book_online_detail[time_slot]" :{
				// 	required: true,
				// },
				// "book_online_detail[number_of_bedrooms]" :{
				// 	required: true,
				// },
				// "book_online_detail[size_of_truck]" :{
				// 	required: true,
				// },
				"book_online_detail[terms_and_condition]" :{
					laxEmail: true,
				},
              },
            });
			jQuery.validator.addMethod("laxEmail", function(value, element) {
				if ((document.getElementById("terms_and_condition").checked) == false)
				{
			  		$("#t_c_error").show();
			  		return false;
				}
				else
				{
					$("#t_c_error").hide();
					return true;
				}
			}, 'msg');
	// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
