<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>MoveCo</title>
		
		<!-- css -->
		
		<!--  google fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/animate.css">
		<link rel="stylesheet" type="text/css" href="/assets/custom.css">

	</head>
	<body >
		<div class="body-wrapper" style="background-image: url('assets/slider image.jpg');">

			<!--   begin of header section   -->
			<section class="header" id="overlay-1">
				<div class="header-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center">
								<div class="header-text">
									<p class="service-text">our awesome services are</p>
									<p class="coming">coming soon</p>
								</div>
							</div>
						</div>
					</div> <!--  end of .container  -->
				</div><!-- end of .header-wrapper  -->
			</section>
			<!--   end of header section     -->

			<!--   begin of social-media section  -->
			<section class="social-media text-center">
				<div class="social-media-wrapper">
					<div class="container">
						<div class="row">
						<!-- <div class="col-md-4 col-sm-12"> -->
							<h1 class="social-media-text">About 1300 eagle movers</h1>
							<p class="service-text" style="font-size: 25px;">
								We have taken the initiative to start the company in order to facilitate transport services for various needs. We believe in the importance of operating as independent carriers, 
								responding quickly to your needs with prompt, 
								effective and global solutions.
							</p>
							
						<!-- </div> -->
							<div class="clear-fix"></div>
						</div>
					</div>
				</div><!--  end of .social-media-wrapper  -->
			</section>
			<!--   end of social-media section   -->

			<!--   begin of footer  section  -->
			<section class="footer" style="background-color: #f69323;">
				<div class="footer-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<p class="copy-right text-center">Copyright 2017 @ 1300 EAGLE MOVERS</p>
							</div>
						</div>
					</div>
				</div><!--  end of .footer-wrapper  -->
			</section>
			<!--   end of footer section  -->
		</div>
		
		<!--  js files -->

		<!-- <script type="text/javascript" src="/assets/vendor/jquery.js"></script> -->
		<!-- <script type="text/javascript" src="/assets/vendor/bootstrap.min.js"></script> -->
		<!-- <script type="text/javascript" src="js/timer.js"></script> -->
		<!-- <script type="text/javascript" src="/assets/script.js"></script> -->
	
	</body>
</html>