<style>
	.site-content h2 {
	    border-bottom: 1px dashed #212121;
	    color: #484848;
	    font-size: 30px;
	    margin: 23px 0;
	    padding-bottom: 16px;
	}
</style>
<script type="text/javascript">
	document.getElementById("home_page_contact_us").className = "active";
	document.getElementById("home_page_link").className = "";
	document.getElementById("home_page_about_us").className = "";
	
</script>
<div class="container">
	<div id="main" class="site-main">
		<div id="primary" class="content-area">
			<div id="content" class="site-content" role="main">
					<h2>Contact Us</h2>
						<article id="post-24" class="post-24 page type-page status-publish hentry">
						<div class="entry-content">
							<div class="tl" style="line-height: 60px;font-size: 16px;margin-top: 14px;float: left;"><strong>Melbourne Speedie Movers</strong> <br />
							5 Arran close epping-3076 <br />
							Victoria Australia. <br />
							Email ID : melbournespeediemovers@gmail.com<br />
							Phone No : 0422621651, 0432145262</p>
							<p><img style="  margin-top: 12px; max-width: 100%;" src="http://www.melbournespeediemovers.com.au/wp-content/uploads/2015/06/cnt.jpg" alt="" /></p>
							</div>
							
							<div class="tl tr"><div role="form" class="wpcf7" id="wpcf7-f266-p24-o1" lang="en-US" dir="ltr">
							<div class="screen-reader-response"></div>
							<form name="" action="/contact-us/#wpcf7-f266-p24-o1" method="post" class="wpcf7-form" novalidate="novalidate" style="float: right">
							<p><strong style="">Feedback Form</strong> </p>
							<div style="display: none;">
							<input type="hidden" name="_wpcf7" value="266" />
							<input type="hidden" name="_wpcf7_version" value="4.2" />
							<input type="hidden" name="_wpcf7_locale" value="en_US" />
							<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f266-p24-o1" />
							<input type="hidden" name="_wpnonce" value="c9bd18704f" />
							</div>
							<p>Your Name (required)<br />
							    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </p>
							<p>Your Email (required)<br />
							    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </p>
							<p>Subject<br />
							    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </p>
							<p>Your Message<br />
							    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control-wrap" aria-invalid="false" style="height: 100px; border-color: rgba(52, 52, 52, 0.2); border-width: 2px;"></textarea></span> </p>
							<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit theme_button color2" style="width: 100%;" /></p>
							<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div>
							<div class="tb col-md-12" style="padding-bottom: 75px;">
							<h4>Locate Us On Map</h4>
							<p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3159.0074751970346!2d145.061086!3d-37.6490283!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6495aae3b3ad5%3A0x3cd9986f0cf6d995!2sMelbourne+Speedie+Movers!5e0!3m2!1sen!2sau!4v1439446608999" width="99.5%" height="450" frameborder="0" style="border:0"></iframe></div>

							</article><!-- #post -->
	
			</div><!-- #content -->
        </div><!-- #primary -->
	</div><!-- #main -->
</div>
