<%=render partial: "free_quote"%>	
<style>
	.site-content h2 {
	    border-bottom: 1px dashed #212121;
	    color: #484848;
	    font-size: 30px;
	    margin: 23px 0;
	    padding-bottom: 16px;
	}
</style>
<script type="text/javascript">
	document.getElementById("home_page_contact_us").className = "active";
	document.getElementById("home_page_link").className = "";
	document.getElementById("home_page_about_us").className = "";
	
	window.onload = function(){
	  <%if flash[:notice].present?%>
		$.notify("Thanks for your valuable feedback", "success");
	  <%end%>
	};
	window.setTimeout(function() {
      }, 0);
</script>
<section class="ls section_padding_top_100 section_padding_bottom_75">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="framed-heading bottommargin_15">
					<h2 class="section_header">
						Contact Us
					</h2>
				</div>
				<p>
				</p>
			</div>
		</div>
	</div>
</section>
<div class="container content_font_color" style="padding-bottom: 4%;">
	<div id="main" class="site-main">
		<div id="primary" class="content-area">
			<div id="content" class="site-content" role="main">
						<article id="post-24" class="post-24 page type-page status-publish hentry">
						<div class="entry-content">
							<div class="tl" style="line-height: 60px;font-size: 16px;margin-top: 14px;float: left;"><strong>1300 EAGLE MOVERS</strong> <br />
							Email Id: info@eaglemovers.com.au<br />
							Phone No :  1300 324 536</p>
							<p><img style="  margin-top: 12px; max-width: 100%;" src="http://www.melbournespeediemovers.com.au/wp-content/uploads/2015/06/cnt.jpg" alt="" /></p>
							</div>
							
							<div class="tl tr"><div role="form" class="wpcf7" id="wpcf7-f266-p24-o1" lang="en-US" dir="ltr">
							<div class="screen-reader-response"></div>
							
							
							<%= form_for @new_contact, :html => {class: 'wpcf7-form', style: 'float: right'} do |f| %>
							<p><strong style="">Feedback Form</strong> </p>
							
							<div class="form-group">
								<label for="quote-name" class="sr-only">Name
									<span class="required">*</span>
								</label>
								<div class="input-group">
									<i class="flaticon-avatar highlight"></i>
									<input type="text" aria-required="true" size="30" value="" name="contact[name]" id="quote-name" class="form-control" placeholder="Name" required>
								</div>
							</div>


							<div class="form-group">
								<label for="quote-email" class="sr-only">E-mail
									<span class="required">*</span>
								</label>
								<div class="input-group">
									<i class="flaticon-envelope highlight"></i>
									<input type="email" aria-required="true" size="30" value=""  name="contact[email]" id="quote-email" class="form-control" placeholder="E-mail" required>
								</div>
							</div>

							<div class="form-group">
								<label for="quote-email" class="sr-only">Subject
									<span class="required">*</span>
								</label>
								<div class="input-group">
									<i class="flaticon-edit highlight"></i>
									<input type="text" aria-required="true" size="30" value=""  name="contact[subject]" id="quote-email" class="form-control" placeholder="Subject" required>
								</div>
							</div>

							<div class="form-group">
								<label for="quote-description" class="sr-only">Your Message
									<span class="required">*</span>
								</label>
								<div class="input-group">
									<i class="fa fa-pencil-square" aria-hidden="true"></i>
									<textarea aria-required="true" rows="5" cols="45" name="contact[message]" id="quote-description" class="form-control" placeholder="Your Message" required></textarea>
								</div>
							</div>							
							<input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit theme_button color2" style="width: 100%;" /></p>
							<div class="wpcf7-response-output wpcf7-display-none"></div>
							<%end%>
						</div></div>
							
							</article><!-- #post -->
	
			</div><!-- #content -->
        </div><!-- #primary -->
	</div><!-- #main -->
</div>
<script type="text/javascript">
	
</script>