<style type="text/css">
	.site-content h2 {
    border-bottom: 1px dashed #212121;
    color: #484848;
    font-size: 30px;
    margin: 23px 0;
    padding-bottom: 16px;
}

.product {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-right: 1px dashed #DEDEEE;
    width: 48%;
    float: left;
    padding: 10px;
}
</style>
<script type="text/javascript">
    document.getElementById("home_page_pricing").className = "active";
    document.getElementById("home_page_link").className = "";
</script>
<div class="entry-content container	">
						<style>
#content h2 {display: none;}
</style>
<div class="inner site-content">
<h2 class="ttag">Our Trucks &amp; Details Of Charges (Including GST)</h2>
<div class="charges">
<div class="product">
<strong class="or">2 Ton Van Boxes to Small Moves</strong><br>
<img src="http://melbournespeediemovers.com.au/wp-content/uploads/2015/06/2ton.jpg"><br>
<b>Cabin Size : 3m(depth) x 1.5m(width) x 1.5m(height)</b><p></p>
<table>
<tbody><tr>
<th>Working Day</th>
<th>1 Man</th>
<th>2 Men</th>
</tr>
<tr>
<td>Mon-Fri</td>
<td>$50+/hr</td>
<td>$75+/hr</td>
</tr>
<tr>
<td>Sat-Sun</td>
<td>$60/hr</td>
<td>$85/hr</td>
</tr>
</tbody></table>
</div>
<div class="product" style=" border-right: none;">
<strong class="or">4.5 Ton Truck (1BR AND 2BR)</strong><br>
<img src="http://melbournespeediemovers.com.au/wp-content/uploads/2015/06/4ton.jpg"><br>
<b>Cabin Size : 4.4m(depth) x 2.1m(wide) x 2.3m(high)</b><p></p>
<table>
<tbody><tr>
<th>Working Day</th>
<th>1 Man</th>
<th>2 Men</th>
</tr>
<tr>
<td>Mon-Fri</td>
<td>$70+/hr</td>
<td>$95+/hr</td>
</tr>
<tr>
<td>Sat-Sun</td>
<td>$90/hr</td>
<td>$105/hr</td>
</tr>
</tbody></table>
</div>
<div class="product">
<strong class="or">6 Ton Truck (3BR AND 4BR)</strong><br>
<img src="http://melbournespeediemovers.com.au/wp-content/uploads/2015/06/8ton.jpg"><p></p>
<table>
<tbody><tr>
<th>Working Day</th>
<th>1 Man</th>
</tr>
<tr>
<td>Mon-Fri</td>
<td>$105+/hr</td>
</tr>
<tr>
<td>Sat-Sun</td>
<td>$120/hr</td>
</tr>
</tbody></table>
</div>
<div class="product" style=" border-right: none;">
<strong class="or">8 Ton Truck (FOR BIG MOVES)</strong><br>
<img src="http://melbournespeediemovers.com.au/wp-content/uploads/2015/06/8ton.jpg"><p></p>
<table>
<tbody><tr>
<th>Working Day</th>
<th>1 Man</th>
</tr>
<tr>
<td>Mon-Fri</td>
<td>$120+/hr</td>
</tr>
<tr>
<td>Sat-Sun</td>
<td>$140/hr</td>
</tr>
</tbody></table>
</div>
</div>
</div>
											</div>