<%=render partial: "free_quote"%>
<style type="text/css">
	.site-content h2 {
    border-bottom: 1px dashed #212121;
    color: #484848;
    font-size: 30px;
    margin: 23px 0;
    padding-bottom: 16px;
}

post-9 img {
    border: 1px dashed #fafafa;
    float: left;
    margin-right: 30px;
    padding: 5px;
    position: relative;
}
</style>
<script type="text/javascript">
	document.getElementById("home_page_services").className = "active service_underline";
	document.getElementById("home_page_link").className = "";
</script>
<section class="ls section_padding_top_100 section_padding_bottom_75">
	<div class="container" style="padding-top: 70px;padding-bottom: 35px;">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="framed-heading bottommargin_15">
					<h2 class="section_header">
						Residential Moving
					</h2>
				</div>
				<p>
					
				</p>
			</div>
		</div>
	</div>
</section>
<div id="main" class="site-main container content_font_color">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
			<article id="post-9" class="post-9 page type-page status-publish hentry">
				<div class="entry-content p_justify">
					<div class="col-md-5 col-sm-12">
						<div  class="col-md-12 col-sm-12">
							<img style="float:left; padding-right:30px;"src="/assets/residential.jpg" alt="Residential Moving" title="Residential Moving" >
						</div>
						<div class="col-md-12 col-sm-12 bottom_button_partial">
							<%=render partial:"quotes_and_pricing_buttons"%>
						</div>	
					</div>
			    <p class="col-md-7 col-sm-12">
			    	<b>Very Simple…just call us…we are just a click away…and Relax!!!</b><br/>
			    	It is quite common to relocate to a new destination for the sake of job and comply with family responsibilities. If you have stuck into suck kind of situation. You need not to worry about any sort of time consuming and tiring exercises of shifting your home. Just consult <b>1300 EAGLE MOVERS</b> for residential relocation and get ready to start a new phase of life.<br/>
			    	In the field of residential relocation services, <b>1300 EAGLE MOVERS</b> has done a great job and is considered to be a well acclaimed company providing all type of packing and moving services at much cost effective rates. <br/>
			    	At <b>1300 EAGLE MOVERS</b>, the commitments are backed by responsive, simple, systematic and innovative process. In order to achieve utmost customer satisfaction, we mould entire shifting process according to needs and demands of customer. Our entire step of shifting process are well managed, well defined, well integrated and are so simple to comprehend that even a layman can get a glance of what and how it is going to work.<br/>
			    </p>
				</div><!-- .entry-content -->

				<footer class="entry-meta">
			    </footer><!-- .entry-meta -->
			</article><!-- #post -->
			<div id="comments" class="comments-area">
			</div><!-- #comments -->			
		</div><!-- #content -->
    </div><!-- #primary -->
</div><!-- #main -->

