<style type="text/css">
	.site-content h2 {
    border-bottom: 1px dashed #212121;
    color: #484848;
    font-size: 30px;
    margin: 23px 0;
    padding-bottom: 16px;
}

post-9 img {
    border: 1px dashed #fafafa;
    float: left;
    margin-right: 30px;
    padding: 5px;
    position: relative;
}
</style>
<script type="text/javascript">
	document.getElementById("home_page_about_us").className = "active";
	document.getElementById("home_page_link").className = "";
</script>
<div id="main" class="site-main container">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
			<h2>Residential Moving</h2>
			<article id="post-9" class="post-9 page type-page status-publish hentry">
				<div class="entry-content">
					    <p><img style="float:left; padding-right:30px;"src="http://www.melbournespeediemovers.com.au/wp-content/uploads/2015/07/residential_moving.jpg" alt="Residential Moving" title="Residential Moving" >
						<strong>Planning to move your house? </strong><br /> 
						Do not worry, <b><a href="http://www.melbournespeediemovers.com.au/about-us/">Melbourne Speedie Movers</a></b> will take the onus of all your belongings and shifting them in pristine condition.<br />
						<strong>Melbourne Speedie Movers provide</strong> you with the utmost technical equipment and experienced staff which will ensure quality work round the clock. <b><a href="http://www.melbournespeediemovers.com.au/services/secure-storage/">Household shifting</a></b> involves shifting of fragile and important items such as glass items, paintings, electronic equipment, TV, refrigerator, microwave etc. All the items are packed in cuboid cardboard boxes along with bubble wrapping, so as to prevent damage of fragile items.<br />
						Our primary and priority goal is <b><a href="http://www.melbournespeediemovers.com.au/why-us/">customer satisfaction</a></b> and their trust. We believe in maintaining a healthy and friendly relation with the <b><a href="http://www.melbournespeediemovers.com.au/contact-us/">customer</a></b> for the purpose. Keeping that in mind, we do not forget the value of professionalism at any time.<br />
						Apart from that, we have <b><a href="http://www.melbournespeediemovers.com.au/charges/">trucks</a></b> of all sizes to <b><a href="http://www.melbournespeediemovers.com.au/contact-us/">meet your demands</a></b> which can accommodate almost every range of houses.
					</p>
				</div><!-- .entry-content -->

				<footer class="entry-meta">
			    </footer><!-- .entry-meta -->
			</article><!-- #post -->
			<div id="comments" class="comments-area">
			</div><!-- #comments -->			
		</div><!-- #content -->
    </div><!-- #primary -->
</div><!-- #main -->
<%=render partial:"buttons_booknow_quickquote"%>
