<section class="page_breadcrumbs template_breadcrumbs ds parallax">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumbs_wrap col-lg-5 col-md-7 col-sm-8 text-right to_animate" data-animation="fadeInLeftLong">
				<div class="to_animate" data-animation="fadeInLeft" data-delay="500">
					<h2>Our services</h2>
				</div>

				<ol class="breadcrumb greylinks to_animate" data-animation="fadeInLeft" data-delay="400">
					<li>
						<a href="./">
							Home
						</a>
					</li>
					<li>
						<a href="#">pages</a>
					</li>
					<li class="active">Our services</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="ls section_padding_top_100 section_padding_bottom_75">
	<div class="container">


		<div class="isotope_container isotope row masonry-layout columns_margin_bottom_60 columns_margin_top_0">

			<div class="isotope-item col-lg-4 col-md-6 col-sm-6">

				<article class="vertical-item content-padding with_border blog-item">
					<div class="item-content">
						<header class="entry-header">

							<h3 class="entry-title medium">
								<a href="service-single.html" rel="bookmark">Professional services we provide</a>
							</h3>

						</header>

						<p>Donec pretium libero mauris, eu facilisis arcu interdum vitae. Nam id iaculis qure, non elementum purus. Pellentesque at habitant morbi tristique senectus et etel netus et malesuada fames ac turpis egestas. Nulla id sem metus.</p>

						<ul class="list2 highlight small-text">
							<li>24/7 AVAILALITY</li>
							<li>DEDICATED TEAM</li>
							<li>GURANTEED SATISFACTION</li>
							<li>FREE ESTIMATE</li>
						</ul>


					</div>
				</article>

			</div>

			<div class="isotope-item col-lg-4 col-md-6 col-sm-6">

				<article class="vertical-item content-padding with_border blog-item">
					<div class="item-media">
						<img src="/assets/gallery/19.jpg" alt="">
<img src="/assets/gallery/19.jpg" alt="">
<img src="/assets/gallery/19.jpg" alt="">
					</div>
					<div class="item-content">
						<header class="entry-header">

							<h3 class="entry-title">
								<a href="service-single.html" rel="bookmark">International Moves</a>
							</h3>

						</header>

						<p>Nam dictum laoreet tortor et condiment. Duis velit risus, pulvinar eget urna in, condimentum lacinia nunc. Vestibulum tincidunt rhoncus.</p>

						<a href="blog-single-right.html" class="small-text extrabold">read more</a>
					</div>
				</article>

			</div>

			<div class="isotope-item col-lg-4 col-md-6 col-sm-6">

				<article class="vertical-item content-padding with_border blog-item">
					<div class="item-media">
						<img src="/assets/gallery/07.jpg" alt="">
					</div>
					<div class="item-content">
						<header class="entry-header">

							<h3 class="entry-title">
								<a href="service-single.html" rel="bookmark">International Moves</a>
							</h3>

						</header>

						<p>Nam dictum laoreet tortor et condiment. Duis velit risus, pulvinar eget urna in, condimentum lacinia nunc. Vestibulum tincidunt rhoncus.</p>

						<a href="blog-single-right.html" class="small-text extrabold">read more</a>
					</div>
				</article>

			</div>

			<div class="isotope-item col-lg-4 col-md-6 col-sm-6">

				<article class="vertical-item content-padding with_border blog-item">
					<div class="item-media">
						<img src="/assets/gallery/20.jpg" alt="">
					</div>
					<div class="item-content">
						<header class="entry-header">

							<h3 class="entry-title">
								<a href="service-single.html" rel="bookmark">box delovery</a>
							</h3>

						</header>

						<p>Nulla facilisi. Fusce tempus fermentum dui, at vehicula justo molestie ut. Donec pellentesque ligula dolor, in sodales ipsum tempor ac.</p>

						<a href="blog-single-right.html" class="small-text extrabold">read more</a>
					</div>
				</article>

			</div>

			<div class="isotope-item col-lg-4 col-md-6 col-sm-6">

				<article class="vertical-item content-padding with_border blog-item">
					<div class="item-media">
						<img src="/assets/gallery/21.jpg" alt="">
					</div>
					<div class="item-content">
						<header class="entry-header">

							<h3 class="entry-title">
								<a href="service-single.html" rel="bookmark">Office relocation</a>
							</h3>

						</header>

						<p>Etiam lacinia maximus leo. Nunc mollis finibus consectetur. Cras varius eu purus vitae mattis. Nullam ut odio cursus mauris placerat faucibus.</p>

						<a href="blog-single-right.html" class="small-text extrabold">read more</a>
					</div>
				</article>

			</div>

			<div class="isotope-item col-lg-4 col-md-6 col-sm-6">

				<article class="vertical-item content-padding with_border blog-item">
					<div class="item-media">
						<img src="/assets/gallery/22.jpg" alt="">
					</div>
					<div class="item-content">
						<header class="entry-header">

							<h3 class="entry-title">
								<a href="service-single.html" rel="bookmark">Loading/Unloading</a>
							</h3>

						</header>

						<p>Morbi in odio faucibus, interdum enim eget, porttitor nulla. Maecenas a dui sollicitudin, venenatis erat ac, auctor sem. Nulla elementum bibendum.</p>

						<a href="blog-single-right.html" class="small-text extrabold">read more</a>
					</div>
				</article>

			</div>

			<div class="isotope-item col-lg-4 col-md-6 col-sm-6">

				<article class="vertical-item content-padding with_border blog-item">
					<div class="item-media">
						<img src="/assets/gallery/15.jpg" alt="">
					</div>
					<div class="item-content">
						<header class="entry-header">

							<h3 class="entry-title">
								<a href="service-single.html" rel="bookmark">Corporate move</a>
							</h3>

						</header>

						<p>Donec ac ultrices purus. Phasellus varius nibh in consequat interdum. Nullam pellentesque non nisl quis ullamcorper. Vivamus bibendum, tellus ut finibus.</p>

						<a href="blog-single-right.html" class="small-text extrabold">read more</a>
					</div>
				</article>

			</div>

			<div class="isotope-item col-lg-4 col-md-6 col-sm-6">

				<article class="vertical-item content-padding with_border blog-item">
					<div class="item-media">
						<img src="/assets/gallery/13.jpg" alt="">
					</div>
					<div class="item-content">
						<header class="entry-header">

							<h3 class="entry-title">
								<a href="service-single.html" rel="bookmark">Special Moves</a>
							</h3>

						</header>

						<p>Sed volutpat venenatis augue eu viverra. Fusce pulvinar metus quam, pulvinar tristique ligula consequat laoreet. Aliqua eu sem mattis magna bibendum.</p>

						<a href="blog-single-right.html" class="small-text extrabold">read more</a>
					</div>
				</article>

			</div>

			<div class="isotope-item col-lg-4 col-md-6 col-sm-6">

				<article class="vertical-item content-padding with_border blog-item">
					<div class="item-media">
						<img src="/assets/gallery/23.jpg" alt="">
					</div>
					<div class="item-content">
						<header class="entry-header">

							<h3 class="entry-title">
								<a href="service-single.html" rel="bookmark">Long Distance Moves</a>
							</h3>

						</header>

						<p>Nam at erat nec elit euismod consectetu. Vestibulum facilisis odio finibus libero ornare commodo. Sed tristique ligula et ex semper, ut bibendum orci luctus.</p>

						<a href="blog-single-right.html" class="small-text extrabold">read more</a>
					</div>
				</article>

			</div>

		</div>
		<!-- eof .isotope_container.row -->

	</div>
</section>
<%= render partial: "get_quote"%>
<%= render partial: "our_cleints"%>

