<%=render partial: "free_quote"%>
<style type="text/css">
	.site-content h2 {
    border-bottom: 1px dashed #212121;
    color: #484848;
    font-size: 30px;
    margin: 23px 0;
    padding-bottom: 16px;
}

post-9 img {
    border: 1px dashed #fafafa;
    float: left;
    margin-right: 30px;
    padding: 5px;
    position: relative;
}
</style>
<script type="text/javascript">
	document.getElementById("home_page_services").className = "active service_underline";
	document.getElementById("home_page_link").className = "";
</script>
<section class="ls section_padding_top_100 section_padding_bottom_75">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="framed-heading bottommargin_15">
					<h2 class="section_header">
						Interstate Moving
					</h2>
				</div>
				<p>
				</p>
			</div>
		</div>
	</div>
</section>
<div id="main" class="site-main container content_font_color">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
			<article id="post-9" class="post-9 page type-page status-publish hentry">
				<div class="entry-content">
					<p>
						<img src="/assets/interstate-moving.jpg" alt="Interstate Moving" title="Interstate Moving" style="float:left; padding-right:30px;">
						<strong>Looking for best Movers for interstate transport?</strong><br />
                        Want to <b>move your house</b> from 1 state to another? Just tell us the destination, we will do the rest. We provide a simple and <b>hassle free service</b>. From small set of items to bulk items, we transport all the goods in our variety of <b>trucks</b>. Move the goods within Melbourne or outside Melbourne with ease. <b>1300 eagle movers</b> is the only secure and trusted platform which can provide you affordable interstate moving packages. Moreover, we are also insured making you more reliable on <b>our services</b>.<br/>
                        Call us for further details.
                        </p>
					</p>
				</div><!-- .entry-content -->

				<footer class="entry-meta">
			    </footer><!-- .entry-meta -->
			</article><!-- #post -->
			<div id="comments" class="comments-area">
			</div><!-- #comments -->			
		</div><!-- #content -->
    </div><!-- #primary -->
</div><!-- #main -->
<%=render partial:"quote_button_call_us"%>

	