<section class="page_breadcrumbs template_breadcrumbs ds parallax">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumbs_wrap col-lg-5 col-md-7 col-sm-8 text-right to_animate" data-animation="fadeInLeftLong">
				<div class="to_animate" data-animation="fadeInLeft" data-delay="500">
					<h2>Our services</h2>
				</div>

				<ol class="breadcrumb greylinks to_animate" data-animation="fadeInLeft" data-delay="400">
					<li>
						<a href="./">
							Home
						</a>
					</li>
					<li>
						<a href="#">services</a>
					</li>
					<li class="active">Our services</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="ls section_padding_100">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-md-8 col-lg-8 col-sm-push-5 col-md-push-4 col-lg-push-4">
				<img src="/assets/gallery/05.jpg" alt="" />
				<h3 class="highlight module-header topmargin_30">household move</h3>
				<p>
					Nam accumsan justo non diam rutrum mollis. Pellentesque elementum pulvinar leo sed imperdiet. Vivamus mi neque, bibendum auctor est et, scelerisque efficitur sem. Curabitur sit amet augue lacinia, convallis orci id, pharetra est. Integer vitae tincidunt
					odio.
				</p>
				<p>
					Donec quis maximus orci, tristique ultrices neque. Curabitur libero purus, mattis eget faucibus sed, commodo ut libero. Vivamus lobortis feugiat felis, at laoreet ipsum.
				</p>
				<blockquote class="grey">
					Fusce lacinia, urna nec molestie congue, ante justo hendrerit risus, quis suscipit sapien leo et est. Fusce nec suscipit risus. Phasellus maximus dui non lectus molestie porta. Vestibulum velit turpis, ultricies non felis a, laoreet egestas diam.

					<div class="item-meta">
						<h5 class="highlight2">Sue Spencer</h5>
					</div>
				</blockquote>
				<p>
					Duis vel nulla pellentesque, convallis nibh vel, consectetur lectus. Sed tellus nisi, condimentum a ex ac, condimentum facilisis ligula. Sed non posuere lorem. Phasellus id odio non massa egestas fringilla. Sed quis congue leo, eu pulvinar leo. Cras ut
					bibendum tortor, et consequat libero. Proin efficitur luctus egestas. In in justo tortor. Ut viverra at sapien id blandit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum at diam ut lacus sodales.
				</p>
				<div class="row topmargin_20">
					<div class="col-md-6">
						<h4 class="entry-title">Vivamus eget semper erat</h4>
						<img class="topmargin_10 bottommargin_20" src="/assets/diagram.png" alt="" />
						<p>
							Nunc velit erat, tristique at semper id, finibus id elit. Etiam eget turpis ut ipsum porta tempus at at tortor. Nulla eu ex consectetur.
						</p>
					</div>
					<div class="col-md-6">
						<h4 class="entry-title">Vestibulum non dolor in arcu</h4>
						<p>
							Sed quis tempor lectus. Proin molestie aliquam massa at tincidunt. Etiam tempus justo diam, eget lacinia sem sagittis elementum. Donec quam metus, vestibulum eu nulla feugiat.
						</p>
						<ul class="list2 highlight small-text">
							<li>Quisque et enim vitae ligula venenatis</li>
							<li>Proin vulputate, quam sit amet eleifend</li>
							<li>metus tortor interdum tellus</li>
							<li>Cras sodales tristique leo, lobortis orci</li>
							<li>Integer gravida pulvinar dolor</li>
							<li>Sed ipsum turpis sollicitudin</li>
						</ul>
					</div>
				</div>
				<h4 class="entry-title">Fusce vel urna eros. Mauris dapibus justo eros.</h4>
				<p>
					Donec sed lectus diam. Nunc hendrerit nisl ac magna vulputate fringilla. Nulla felis lacus, sodales dictum volutpat sed, imperdiet quis dui. In sem orci, dignissim id porttitor at, pharetra vel sapien. Sed tempor diam enim, vitae maximus erat aliquet
					nec. Sed sollicitudin vulputate magna nec dictum. Vestibulum laoreet lorem non diam facilisis mollis. Nullam facilisis id quam nec congue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer fermentum
					vitae risus vitae aliquam. Sed et sapien lobortis nisi tincidunt volutpat vel eu turpis.
				</p>
				<img class="topmargin_20 bottommargin_20" src="/assets/graph.png" alt="" />
				<p>
					Phasellus cursus mauris vitae metus interdum luctus. Nam ac quam metus. Sed sed mauris et magna lobortis scelerisque in at sem. Nam eu tortor consequat, feugiat nibh in, eleifend odio. Donec facilisis mollis velit, vitae bibendum purus rutrum a. Vestibulum
					pretium in neque in aliquam.
				</p>
			</div>

			<aside class="col-sm-5 col-md-4 col-lg-4 col-sm-pull-7 col-md-pull-8 col-lg-pull-8">
				<div class="with_border with_padding">

					<div class="widget widget_categories">

						<h3 class="entry-title medium highlight2">all our services</h3>

						<ul class="darklinks">
							<li>
								<a href="blog-right.html" title="">international moves</a>
							</li>
							<li>
								<a href="blog-right.html" title="">long distance moves</a>
							</li>
							<li>
								<a href="blog-right.html" title="">household move</a>
							</li>
							<li>
								<a href="blog-right.html" title="">special moves</a>
							</li>
							<li>
								<a href="blog-right.html" title="">residential / local</a>
							</li>
						</ul>
					</div>

				</div>

				<div class="widget widget_text">

					<h3 class="widget-title">household moves Download:</h3>

					<a href="#" class="theme_button inverse block_button file_button">
						<i class="fa fa-file-pdf-o highlight2" aria-hidden="true"></i> Household_moves_2016.pdf</a>
					<a href="#" class="theme_button inverse block_button file_button">
						<i class="fa fa-file-word-o highlight2" aria-hidden="true"></i> Household_moves_2016.doc</a>
				</div>

				<div class="widget widget_slider">

					<h3 class="widget-title">Satisfied clients:</h3>

					<div class="owl-carousel" data-nav="true" data-loop="true" data-autoplay="true" data-items="6" data-responsive-lg="3" data-responsive-md="3" data-responsive-sm="3" data-responsive-xs="3">

						<a href="#" class="partner-link">
							<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
						</a>
						<a href="#" class="partner-link">
							<img src="/assets/partners/02.png" alt="" />
						</a>
						<a href="#" class="partner-link">
							<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/01.png" alt="" />
<img src="/assets/partners/03.png" alt="" />
						</a>
						<a href="#" class="partner-link">
							<img src="/assets/partners/04.png" alt="" />
						</a>
						<a href="#" class="partner-link">
							<img src="/assets/partners/05.png" alt="" />
						</a>
						<a href="#" class="partner-link">
							<img src="/assets/partners/06.png" alt="" />
						</a>

					</div>

				</div>

				<div class="widget widget_text fontsize_14">

					<h3 class="widget-title">contact info:</h3>

					<h5 class="small-text bold highlight2">Address</h5>
					<p>0258 Hans Centers, Cristoballand, USA, CB 33025</p>

					<h5 class="small-text bold highlight2">Phone / fax</h5>
					<p>1-800-23-456-7890 (24/7 Support Line)</p>
					<p>1-800-23-456-7899 (Fax)</p>

					<h5 class="small-text bold highlight2">E-mail</h5>
					<p>moveco@support.com</p>
					<p>info@moveco.com</p>

				</div>

				<div class="with_border color_border with_padding">

					<div class="widget widget_mailchimp">

						<h3 class="widget-title">Newsletter</h3>

						<form class="signup form-inline" action="./" method="get">
							<div class="form-group">
								<input name="email" type="email" class="mailchimp_email form-control" placeholder="Enter Your E-mail">
							</div>
							<div class="response"></div>
							<button type="submit" class="theme_button">Subscribe</button>

						</form>

					</div>

				</div>

			</aside>
		</div>
	</div>
</section>