<%=render partial: "free_quote"%>
<style type="text/css">
	.site-content h2 {
    border-bottom: 1px dashed #212121;
    color: #484848;
    font-size: 30px;
    margin: 23px 0;
    padding-bottom: 16px;
}

post-9 img {
    border: 1px dashed #fafafa;
    float: left;
    margin-right: 30px;
    padding: 5px;
    position: relative;
}
</style>
<script type="text/javascript">
	document.getElementById("home_page_services").className = "active service_underline";
	document.getElementById("home_page_link").className = "";
</script>
<section class="ls section_padding_top_100 section_padding_bottom_75">
	<div class="container" style="padding-top: 70px;padding-bottom: 35px;">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="framed-heading bottommargin_15">
					<h2 class="section_header">
						PACKING
					</h2>
				</div>
				<p>
					
				</p>
			</div>
		</div>
	</div>
</section>
<div id="main" class="site-main container content_font_color">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
			<article id="post-9" class="post-9 page type-page status-publish hentry">
				<div class="entry-content p_justify">
					<div class="col-md-5 col-sm-12">
						<div  class="col-md-12 col-sm-12">
							<img src="/assets/packing_service.jpg" alt="Packing &amp; Moving" title="Packing &amp; Moving" >
						</div>
						<div class="col-md-12 col-sm-12 bottom_button_partial">
							<%=render partial:"quote_button_call_us"%>
						</div>	
					</div>
					<p class="col-md-7 col-sm-12">
						When anyone decides to relocate from one place to another, he/she experiences emotional chaos of leaving a place behind and adjusting into a new environment. Safety and care of valuable goods is definitely a major concern for them. We at <b>1300 EAGLE MOVERS</b> have massive experience in packing materials and hence, follow the highest standards required for such processes<br/>
						We have a team of packing who are highly trained on all techniques which entirely depends upon the characteristics of articles. If it is a fragile item, the team packs it using multiple layer of protective packing.<br/>
						We use premium quality materials in order to protect goods from wear and tear as well as weather. The packaging materials are supervised at regular intervals as it is considered to be the essential part of safe delivery. We make sure that our customers are completely satisfied with packing service before the item is ready for transportation. For details on types and sizes of trucks please refer to our charges section. <br/><a href="<%= home_contact_path%>">Call us for further details.</a><br/>
					</p>
				</div><!-- .entry-content -->

				<footer class="entry-meta">
			    </footer><!-- .entry-meta -->
			</article><!-- #post -->
			<div id="comments" class="comments-area">
			</div><!-- #comments -->			
		</div><!-- #content -->
    </div><!-- #primary -->
</div><!-- #main -->

