<%=render partial: "free_quote"%>
<style type="text/css">
	.site-content h2 {
    border-bottom: 1px dashed #212121;
    color: #484848;
    font-size: 30px;
    margin: 23px 0;
    padding-bottom: 16px;
}

post-9 img {
    border: 1px dashed #fafafa;
    float: left;
    margin-right: 30px;
    padding: 5px;
    position: relative;
}
</style>
<script type="text/javascript">
	document.getElementById("home_page_services").className = "active service_underline";
	document.getElementById("home_page_link").className = "";
</script>
<section class="ls section_padding_top_100 section_padding_bottom_75">
	<div class="container" style="padding-top: 70px;padding-bottom: 35px;">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="framed-heading bottommargin_15">
					<h2 class="section_header">
						STORAGE AND WAREHOUSE
					</h2>
				</div>
				<p>
				</p>
			</div>
		</div>
	</div>
</section>
<div id="main" class="site-main container content_font_color">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
			<article id="post-9" class="post-9 page type-page status-publish hentry">
				<div class="entry-content p_justify">
					<div class="col-md-5 col-sm-12">
						<div  class="col-md-12 col-sm-12">
							<img style="float:left; padding-right:30px;" src="/assets/Secure-Storage.gif" alt="Warehouse and Storage Facility" title="Warehouse and Storage Facility"  >
						</div>
						<div class="col-md-12 col-sm-12 bottom_button_partial">
							<%=render partial:"quote_button_call_us"%>
						</div>	
					</div>
					<div class="col-md-7 col-sm-12">
						At <b>1300 EAGLE MOVERS</b>, we offer the best and affordable storage and warehousing services to our clients. We ensure that all security measures are being taken to shift valuable goods which are being used in office or household.<br/>
						Our storage and warehousing services enables customer to store or pack the important goods with good security level at reasonable rates. Our warehousing and storage services are handled and controlled under effective warehouse security plan along with the program associated with pest control measures, fire protection actions and other safety measures. Services offered by us are:<br/>
						<ul style="padding-left: 22px;">
							<li>
								Control checks on entry and exit of belongings or goods 
							</li>
							<li>
								Protected and sound storage space of valuable goods
							</li>
							<li>
								Latest racking and handling of all valuable goods and equipments
							</li>
						</ul>
					</div>
				</div><!-- .entry-content -->

				<footer class="entry-meta">
			    </footer><!-- .entry-meta -->
			</article><!-- #post -->
			<div id="comments" class="comments-area">
			</div><!-- #comments -->			
		</div><!-- #content -->
    </div><!-- #primary -->
</div><!-- #main -->


	