<style type="text/css">
	.site-content h2 {
    border-bottom: 1px dashed #212121;
    color: #484848;
    font-size: 30px;
    margin: 23px 0;
    padding-bottom: 16px;
}

post-9 img {
    border: 1px dashed #fafafa;
    float: left;
    margin-right: 30px;
    padding: 5px;
    position: relative;
}
</style>
<script type="text/javascript">
	document.getElementById("home_page_about_us").className = "active";
	document.getElementById("home_page_link").className = "";
</script>
<div id="main" class="site-main container">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
			<h2>Interstate Moving</h2>
			<article id="post-9" class="post-9 page type-page status-publish hentry">
				<div class="entry-content">
					<p>
						<img src="http://www.melbournespeediemovers.com.au/wp-content/uploads/2015/07/interstate-moving.jpg" alt="Interstate Moving" title="Interstate Moving" style="float:left; padding-right:30px;">
						<strong>Looking for best Movers for interstate transport?</strong><br />
                        Want to <b><a href="http://www.melbournespeediemovers.com.au/services/residential-moving/">move your house</a></b> from 1 state to another? Just tell us the destination, we will do the rest. We provide a simple and <b><a href="http://www.melbournespeediemovers.com.au/contact-us/">hassle free service</a></b>. From small set of items to bulk items, we transport all the goods in our variety of <b><a href="http://www.melbournespeediemovers.com.au/charges/">trucks</a></b>. Move the goods within Melbourne or outside Melbourne with ease. <b><a href="http://www.melbournespeediemovers.com.au/">Melbourne Speedie Movers</a></b> is the only secure and trusted platform which can provide you affordable interstate moving packages. Moreover, we are also insured making you more reliable on <b><a href="http://www.melbournespeediemovers.com.au/why-us/">our services</a></b>.</p>
					</p>
				</div><!-- .entry-content -->

				<footer class="entry-meta">
			    </footer><!-- .entry-meta -->
			</article><!-- #post -->
			<div id="comments" class="comments-area">
			</div><!-- #comments -->			
		</div><!-- #content -->
    </div><!-- #primary -->
</div><!-- #main -->
<%=render partial:"buttons_booknow_quickquote"%>

	