<style type="text/css">
	.site-content h2 {
    border-bottom: 1px dashed #212121;
    color: #484848;
    font-size: 30px;
    margin: 23px 0;
    padding-bottom: 16px;
}

post-9 img {
    border: 1px dashed #fafafa;
    float: left;
    margin-right: 30px;
    padding: 5px;
    position: relative;
}
</style>
<script type="text/javascript">
	document.getElementById("home_page_about_us").className = "active";
	document.getElementById("home_page_link").className = "";
</script>
<div id="main" class="site-main container">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
			<h2>Piano Moving</h2>
			<article id="post-9" class="post-9 page type-page status-publish hentry">
				<div class="entry-content">
					   <p><img style="float:left; padding-right:30px;"src="/assets/piano.jpg" alt="Pool &amp; Piano Moving" title="Pool &amp; Piano Moving" style="float:left">
						<strong>Need to move your Piano? </strong><br /> 
						<b><a href="http://melbournespeediemovers.com.au/">Melbourne Speedie Movers</a></b> is all what you should contact. We have got expertized and <b><a href="http://www.melbournespeediemovers.com.au/about-us/">dedicated team</a></b> to shift your piano. We provide outperformance in moving all types of pianos. We have experience in handling all types of pianos including:</p>
                         <li> Upright Pianos</li>
                        <li> Horizontal Pianos</li>
                        <li> Studio</li>
                        <li> Spinet</li>
                        <li> Console</li>
                        <p>We <b><a href="http://www.melbournespeediemovers.com.au/charges/">offer flexible deals</a></b> and reliable services for piano moving. Handling of pianos requires experience along with skills, so we have got latest gadgets and <b><a href="http://www.melbournespeediemovers.com.au/about-us/">dedicated staff</a></b> for the purpose. <b><a href="http://www.melbournespeediemovers.com.au/services/packing-moving/">Loading and Unloading</a></b> of the piano will take place under the guidance of skilled and experienced staff which will make sure that safety of the piano remains intact during this whole process. We provide all sizes of trucks catering to the needs of <b><a href="http://www.melbournespeediemovers.com.au/contact-us/">customer</a></b>
					</p>
				</div><!-- .entry-content -->

				<footer class="entry-meta">
			    </footer><!-- .entry-meta -->
			</article><!-- #post -->
			<div id="comments" class="comments-area">
			</div><!-- #comments -->			
		</div><!-- #content -->
    </div><!-- #primary -->
</div><!-- #main -->
<%=render partial:"buttons_booknow_quickquote"%>
