<section class="page_breadcrumbs template_breadcrumbs ds parallax">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumbs_wrap col-lg-5 col-md-7 col-sm-8 text-right to_animate" data-animation="fadeInLeftLong">
				<div class="to_animate" data-animation="fadeInLeft" data-delay="500">
					<h2>Typography</h2>
				</div>

				<ol class="breadcrumb greylinks to_animate" data-animation="fadeInLeft" data-delay="400">
					<li>
						<a href="./">
							Home
						</a>
					</li>
					<li>
						<a href="#">Features</a>
					</li>
					<li class="active">Typography</li>
				</ol>
			</div>
		</div>
	</div>
	</section>


	<section class="ls section_padding_50">
	<div class="container">

		<h2 class="text-center topmargin_0">Columns</h2>
		<div class="row">
			<div class="col-sm-12">
				<h3 class="topmargin_0">Full Width</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore in blanditiis tempora aliquam omnis recusandae maxime fugiat error dolores vel reiciendis quia, laboriosam dolorum, ipsa corrupti. Laboriosam odio ducimus harum. Lorem ipsum dolor
					sit amet, consectetur adipisicing elit. Distinctio assumenda vitae iure, totam laboriosam voluptatibus delectus autem pariatur excepturi eligendi natus unde. Numquam vel quia dolore tempore consequuntur nobis architecto.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo repellendus, repellat rem debitis id, harum ipsa nostrum, aut eius atque repudiandae officia nemo. Laborum fugit maiores aut non sit alias. Lorem ipsum dolor sit amet, consectetur adipisicing
					elit. Dignissimos voluptas nihil tenetur quibusdam, laborum sed id laboriosam obcaecati corporis necessitatibus saepe voluptatem incidunt, cumque aperiam, quam nisi? Numquam, ullam, alias.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h3 class="topmargin_0">1/2</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolorem nisi unde itaque, aliquid. Necessitatibus, dolorem tempora repudiandae modi. Quis, esse eveniet suscipit! Enim dicta voluptate quas ea, facilis repellat!</p>
			</div>
			<div class="col-sm-6">
				<h3 class="topmargin_0">1/2</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus obcaecati incidunt quas iusto eos nobis. Laudantium veniam, reprehenderit nemo alias ducimus, illo, omnis voluptas doloribus cupiditate repudiandae porro numquam?</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h3 class="topmargin_0">1/3</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolorem nisi unde itaque, aliquid. Necessitatibus, dolorem tempora repudiandae modi. Quis, esse eveniet suscipit! Enim dicta voluptate quas ea, facilis repellat!</p>
			</div>
			<div class="col-sm-4">
				<h3 class="topmargin_0">1/3</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus obcaecati incidunt quas iusto eos nobis. Laudantium veniam, reprehenderit nemo alias ducimus, illo, omnis voluptas doloribus cupiditate repudiandae porro numquam?</p>
			</div>
			<div class="col-sm-4">
				<h3 class="topmargin_0">1/3</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus obcaecati incidunt quas iusto eos nobis. Laudantium veniam, reprehenderit nemo alias ducimus, illo, omnis voluptas doloribus cupiditate repudiandae porro.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<h3 class="topmargin_0">1/4</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolorem nisi unde itaque, aliquid. Necessitatibus, dolorem tempora repudiandae modi. Quis, esse eveniet suscipit! Enim dicta voluptate quas ea, facilis repellat!</p>
			</div>
			<div class="col-sm-3">
				<h3 class="topmargin_0">1/4</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus obcaecati incidunt quas iusto eos nobis. Laudantium veniam, reprehenderit nemo alias ducimus, illo, omnis voluptas doloribus cupiditate repudiandae porro numquam?</p>
			</div>
			<div class="col-sm-3">
				<h3 class="topmargin_0">1/4</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus obcaecati incidunt quas iusto eos nobis. Laudantium veniam, reprehenderit nemo alias ducimus, illo, omnis voluptas doloribus cupiditate repudiandae porro.</p>
			</div>
			<div class="col-sm-3">
				<h3 class="topmargin_0">1/4</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus obcaecati incidunt quas iusto eos nobis. Laudantium veniam, reprehenderit nemo alias ducimus, illo, omnis voluptas doloribus cupiditate repudiandae porro numquam?</p>
			</div>
		</div>

		<h2 class="text-center">Styled Lists</h2>
		<div class="row">
			<div class="col-md-3 col-sm-4">
				<h5>No Bullets</h5>
				<ul class="list1 no-bullets">
					<li>Lorem ipsum dolor sit amet</li>
					<li>Sint animi non ut sed</li>
					<li>Eaque blanditiis nemo</li>
					<li>Amet, consectetur adipisicing</li>
					<li>Blanditiis nemo quaerat</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-4">
				<h5>No Bullets &amp; top border</h5>
				<ul class="list1 no-bullets no-top-border">
					<li>Lorem ipsum dolor sit amet</li>
					<li>Sint animi non ut sed</li>
					<li>Eaque blanditiis nemo</li>
					<li>Amet, consectetur adipisicing</li>
					<li>Blanditiis nemo quaerat</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-4">
				<h5>No Bullets &amp; bottom border</h5>
				<ul class="list1 no-bullets no-bottom-border">
					<li>Lorem ipsum dolor sit amet</li>
					<li>Sint animi non ut sed</li>
					<li>Eaque blanditiis nemo</li>
					<li>Amet, consectetur adipisicing</li>
					<li>Blanditiis nemo quaerat</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-4">
				<h5>No Bullets, top&amp;bottom border</h5>
				<ul class="list1 no-bullets no-top-border no-bottom-border">
					<li>Lorem ipsum dolor sit amet</li>
					<li>Sint animi non ut sed</li>
					<li>Eaque blanditiis nemo</li>
					<li>Amet, consectetur adipisicing</li>
					<li>Blanditiis nemo quaerat</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-4">
				<h5>List 1</h5>
				<ul class="list1">
					<li>Lorem ipsum dolor sit amet</li>
					<li>Sint animi non ut sed</li>
					<li>Eaque blanditiis nemo</li>
					<li>Amet, consectetur adipisicing</li>
					<li>Blanditiis nemo quaerat</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-4">
				<h5>List 2</h5>
				<ul class="list2">
					<li>Lorem ipsum dolor sit amet</li>
					<li>Sint animi non ut sed</li>
					<li>Eaque blanditiis nemo</li>
					<li>Amet, consectetur adipisicing</li>
					<li>Blanditiis nemo quaerat</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-4">
				<h5>Order list 3</h5>
				<ol class="list3">
					<li>Lorem ipsum dolor sit amet</li>
					<li>Sint animi non ut sed</li>
					<li>Eaque blanditiis nemo</li>
					<li>Amet, consectetur adipisicing</li>
					<li>Blanditiis nemo quaerat</li>
				</ol>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-6">

				<h3>Headings with RT-Icon</h3>
				<h1>
					<i class="rt-icon2-mail"></i> Lorem ipsum</h1>
				<h2>
					<i class="rt-icon2-mail"></i> Sint animi non</h2>
				<h3>
					<i class="rt-icon2-mail"></i> Eaque blanditiis nemo</h3>
				<h4>
					<i class="rt-icon2-mail"></i> Amet, consectetur adipisicing</h4>
				<h5>
					<i class="rt-icon2-mail"></i> Blanditiis nemo quaerat</h5>
				<h6>
					<i class="rt-icon2-mail"></i> Adipisicing nemo animi</h6>

				<p>
					<i class="rt-icon2-mail"></i> Paragraph with RT-Icon</p>
			</div>

			<div class="col-sm-6">

				<h3>Headings with Glyphicon</h3>
				<h1>
					<i class="glyphicon glyphicon-search"></i> Lorem ipsum</h1>
				<h2>
					<i class="glyphicon glyphicon-search"></i> Sint animi non</h2>
				<h3>
					<i class="glyphicon glyphicon-search"></i> Eaque blanditiis nemo</h3>
				<h4>
					<i class="glyphicon glyphicon-search"></i> Amet consectetur adipisicing</h4>
				<h5>
					<i class="glyphicon glyphicon-search"></i> Blanditiis nemo quaerat</h5>
				<h6>
					<i class="glyphicon glyphicon-search"></i> Adipisicing nemo animi</h6>

				<p>
					<i class="glyphicon glyphicon-search"></i> Paragraph with Glyphicon</p>

			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">

				<h3>Headings with Font Awesome</h3>
				<h1>
					<i class="fa fa-check-circle"></i> Lorem ipsum</h1>
				<h2>
					<i class="fa fa-check-circle"></i> Sint animi non</h2>
				<h3>
					<i class="fa fa-check-circle"></i> Eaque blanditiis nemo</h3>
				<h4>
					<i class="fa fa-check-circle"></i> Amet, consectetur adipisicing</h4>
				<h5>
					<i class="fa fa-check-circle"></i> Blanditiis nemo quaerat</h5>
				<h6>
					<i class="fa fa-check-circle"></i> Adipisicing nemo animi</h6>

				<p>
					<i class="fa fa-check-circle"></i> Paragraph with RT-Icon</p>
			</div>

			<div class="col-sm-6">

				<h3>Links inside Headers and Paragraphs</h3>
				<h1>
					<a href="#">
						<i class="fa fa-check-circle"></i> Lorem ipsum</a>
				</h1>
				<h2>
					<a href="#">
						<i class="fa fa-check-circle"></i> Sint animi non</a>
				</h2>
				<h3>
					<a href="#">
						<i class="fa fa-check-circle"></i> Eaque blanditiis nemo</a>
				</h3>
				<h4>
					<a href="#">
						<i class="fa fa-check-circle"></i> Amet, consectetur adipisicing</a>
				</h4>
				<h5>
					<a href="#">
						<i class="fa fa-check-circle"></i> Blanditiis nemo quaerat</a>
				</h5>
				<h6>
					<a href="#">
						<i class="fa fa-check-circle"></i> Adipisicing nemo animi</a>
				</h6>

				<p>
					<a href="#">
						<i class="fa fa-check-circle"></i> Paragraph with Link</a>
				</p>
			</div>

		</div>

		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center divider_40">Default Table</h2>
				<table>
					<thead>
						<tr>
							<th>#</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Username</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="2">1</td>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<td>Mark</td>
							<td>Otto</td>
							<td>@TwBootstrap</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<td>3</td>
							<td colspan="2">Larry the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>

				<h2 class="text-center divider_40">Bootstrap Stripped Table</h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Username</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>

				<h2 class="text-center divider_40">Bootstrap Bordered Table</h2>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Username</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="2">1</td>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<td>Mark</td>
							<td>Otto</td>
							<td>@TwBootstrap</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<td>3</td>
							<td colspan="2">Larry the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	</section>