<section class="page_breadcrumbs template_breadcrumbs ds parallax">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumbs_wrap col-lg-5 col-md-7 col-sm-8 text-right to_animate" data-animation="fadeInLeftLong">
				<div class="to_animate" data-animation="fadeInLeft" data-delay="500">
					<h2>Progress Bars</h2>
				</div>

				<ol class="breadcrumb greylinks to_animate" data-animation="fadeInLeft" data-delay="400">
					<li>
						<a href="./">
							Home
						</a>
					</li>
					<li>
						<a href="#">Shortcodes</a>
					</li>
					<li class="active">Progress Bars</li>
				</ol>
			</div>
		</div>
	</div>
</section>


<section class="ls section_padding_50">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="topmargin_0">Progress Bars</h2>
			</div>
			<div class="col-sm-6">

				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="90">
						<span>90%</span>
					</div>
				</div>

				<div class="progress">
					<div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="52">
						<span>52%</span>
					</div>
				</div>

			</div>
			<div class="col-sm-6">

				<div class="progress">
					<div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="75">
						<span>75%</span>
					</div>
				</div>

				<div class="progress">
					<div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="95">
						<span>95%</span>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="divider_40">Pie Chars</h2>

				<div class="row text-center">
					<div class="col-md-4 col-sm-6">
						<div class="chart" data-percent="96">
							<span class="percent"></span>
							<h4>HTML,CSS</h4>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="chart" data-percent="98">
							<span class="percent"></span>
							<h4>PHOTOSHOP</h4>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
						<div class="chart" data-percent="88">
							<span class="percent"></span>
							<h4>PHP</h4>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="divider_40">Progress Teasers</h2>
			</div>
			<div class="col-md-3 col-sm-6">

				<div class="teaser text-center">
					<div class="teaser_icon grey size_big">
						<i class="rt-icon2-bulb"></i>
					</div>
					<h3 class="counter-wrap highlight" data-from="0" data-to="40" data-speed="1800">
						<span class="counter" data-from="0" data-to="20" data-speed="1500">0</span>
						<span class="counter-add">+</span>
					</h3>
					<p>Projects</p>
				</div>

			</div>

			<div class="col-md-3 col-sm-6">

				<div class="teaser text-center">
					<div class="teaser_icon grey size_big">
						<i class="rt-icon2-banknote"></i>
					</div>
					<h3 class="counter highlight" data-from="0" data-to="19350" data-speed="2100">0</h3>
					<p>Dollars</p>
				</div>

			</div>


			<div class="col-md-3 col-sm-6">

				<div class="teaser text-center">
					<div class="teaser_icon grey size_big">
						<i class="rt-icon2-user"></i>
					</div>
					<h3 class="counter highlight" data-from="0" data-to="1256" data-speed="1400">0</h3>
					<p>Users</p>
				</div>

			</div>

			<div class="col-md-3 col-sm-6">

				<div class="teaser text-center">
					<div class="teaser_icon grey size_big">
						<i class="rt-icon2-like"></i>
					</div>
					<h3 class="highlight counter-wrap">
						<span class="counter" data-from="0" data-to="100000" data-speed="1500">0</span>
						<span class="counter-add">+</span>
					</h3>
					<p>Likes</p>
				</div>

			</div>
		</div>


	</div>
</section>
