
<section class="ls section_padding_top_100 section_padding_bottom_75 columns_margin_bottom_30">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="framed-heading">
					<h2 class="section_header" style="color: #273754;">
						GET A QUOTE
					</h2>
				</div>
				<p>
					Please fill out the following information and press the SUBMIT button. 
				</p>
				<div class="framed-heading">
					<h5 class="section_header" style="font-size:30px ; color: #273754;">
						Details
					</h5>
				</div>
				<%= render partial: "home/get_quote_form"%>
			</div>
		</div>
	</div>
</section>